@font-face {
	font-family:Oswald;
    src:url('../fonts/Oswald.ttf');
}
@font-face {
	font-family:ProximaNova;
    src:url('../fonts/ProximaNova.otf');
}
@font-face {
	font-family:ProximaNovaLight;
    src:url('../fonts/ProximaNovaLight.otf');
}
@font-face {
	font-family:OswaldLight;
    src:url('../fonts/OswaldLight.ttf');
}
@font-face {
	font-family:SF;
    src:url('../fonts/SF.otf');
}


// Color font and background
$font-color-title: #323232;
$font-color-brown:#C8A472;
$font-color-link:#0072BA;
$font-color-text:#848484;
$font-color-white:#fff;
$bg-color-footer:#141F35;
$bg-color-copy:#1C2539;

// Font
$font-title: Oswald;
$font-title-light: OswaldLight;
$font-text: ProximaNova;
$font-text-light: ProximaNovaLight;

// Display size
$break-small: 320px;
$break-mobile: 400px;
$break-tablet: 768px;
$break-medium: 980px;
$break-large: 1200px;
$break-big: 1400px;


body{
	font-family: $font-text-light, tahoma, sans-serif;
}
.top{
	background: $bg-color-footer;
	color:#fff;
	padding: 10px 0px;
	font-size: 14px;
	text-align: right;
	p{
		margin-bottom: 0;
	}
	span{
		padding-left: 30px;
	}
	a{
		color: #fff;
	}
	@media screen and (min-width: $break-small){
		display: none;
	}
	@media screen and (min-width: $break-tablet){
		display: block;
	}
}
.text-brown{
	color:$font-color-brown;
}
.bg-menu{
	background: $bg-color-footer;
	position: static !important;
}
/*** menu ***/
.menu{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	.navbar{
		margin: 0px;
		padding: .5rem 0rem;
	}
	.navbar-nav{
		.nav-item.active{
			.nav-link{
				color: $font-color-brown;
			}
		}
		.nav-link{
			text-transform: uppercase;
			@media screen and (min-width: $break-small){
				font-weight: lighter;
				font-family: SF;
				color: #fff;
				font-size: 24px;
				word-spacing: 5px;
			}
			@media screen and (min-width: $break-tablet){
				display: initial;
				font-family: $font-text-light;
				word-spacing: 0px;
				line-height: 50px;
				padding: 30px 0px;
				font-size: 14px;
				word-spacing: 0px;
			}
			@media screen and (min-width: $break-medium){
				padding: 12px 10px !important;
				font-weight: normal;
				font-family: $font-text-light;
				font-size: 14px;
				line-height: 16px;
				color: #fff;
				display: block;
				word-spacing: 0px;
			}
			@media screen and (min-width: $break-large){
				padding: 12px 0px 12px 30px !important;
				word-spacing: 0px;
				display: block;	
			}
		}
		@media screen and (min-width: $break-small){
			margin-top: 20%;
		}
		@media screen and (min-width: $break-tablet){
			margin-top: 5%;
		}
		@media screen and (min-width: $break-medium){
			margin-top: 0%;
		}
		@media screen and (min-width: $break-large){
			margin-top: 0%;
		}
	}
	.navbar-toggler:active,.navbar-toggler:focus {
		outline: none;
	}
	.navbar-toggler-icon {
		width: 24px;
		height: 17px;
		background-image: none;
		position: relative;
		border-bottom: 1px solid #fff;
	    transition: all 300ms linear;
	}
	.navbar-toggler-icon:after, .navbar-toggler-icon:before{
		width: 24px;
		position: absolute;
		height: 1px;
		background-color: #fff;
		top: 0;
		left: 0;
		content: '';
		z-index: 2;
	    transition: all 300ms linear;
	    z-index: 20;
	}
	.navbar-toggler-fixed{
		border-bottom: 1px solid #fff
	}
	.navbar-toggler-fixed:after, .navbar-toggler-fixed:before{
		background-color: #fff;
	}
	.navbar-toggler-icon:after{
		top: 8px;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
		transform: rotate(45deg);
		background:#fff;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
		transform: translateY(8px) rotate(-45deg);
		background:#fff;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
		border-color: transparent;
	}
}
@media (max-width: 980px) {
    .navbar-collapse {
        position: fixed;
        top: 0px;
        right: -100%;
        max-height: 100vh !important;
        height: 100vh;
        padding-bottom: 15px;
        width: 100%;
        background:$bg-color-copy;
        z-index: 10;
    }
    .navbar-collapse.collapsing {
       	max-height: 100vh !important;
        height: 100vh;
        -webkit-transition: right 0.3s ease, width 0.5s ease;
        -o-transition: right 0.3s ease, width 0.5s ease;
        -moz-transition: right 0.3s ease, width 0.5s ease;
        transition: right 0.3s ease, width 0.5s ease;
    }
    .navbar-collapse.show {
        right: -6%;
        max-height: 100vh !important;
        height: 100vh;
        width: 350px;
        -webkit-transition: right 0.5s ease, width 0.5s ease;
        -o-transition: right 0.5s ease, width 0.5s ease;
        -moz-transition: right 0.5s ease, width 0.5s ease;
        transition: right 0.5s ease, width 0.5s ease;
        .navbar-toggler-icon {
			border-bottom: 1px solid #000;
		}
		.navbar-toggler-icon:after, .navbar-toggler-icon:before{
			background-color: #000;
		}
		.nav-link{
			text-align: left;
			padding-left: 10%;
			padding-right: 30%;
		}
    }
}
@media (max-width: 480px) {
    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: -100%;
        max-height: 100vh !important;
        height: 100vh;
        padding-bottom: 15px;
        width: 100%;
        background:$bg-color-copy;
        z-index: 10;
    }
    .navbar-collapse.collapsing {
       	max-height: 100vh !important;
        height: 100vh;
        -webkit-transition: left 0.3s ease, width 0.5s ease;
        -o-transition: left 0.3s ease, width 0.5s ease;
        -moz-transition: left 0.3s ease, width 0.5s ease;
        transition: left 0.3s ease, width 0.5s ease;
    }
    .navbar-collapse.show {
        left: -6%;
        max-height: 100vh !important;
        height: 100vh;
        width: 111%;
        -webkit-transition: left 0.5s ease, width 0.5s ease;
        -o-transition: left 0.5s ease, width 0.5s ease;
        -moz-transition: left 0.5s ease, width 0.5s ease;
        transition: left 0.5s ease, width 0.5s ease;
        .navbar-toggler-icon {
			border-bottom: 1px solid #000;
		}
		.navbar-toggler-icon:after, .navbar-toggler-icon:before{
			background-color: #000;
		}
		.nav-link{
			text-align: center;
			padding-left: 0%;
			padding-right: 0%;
		}
    }
}
.float-panel {
    width:100%;
    background:transparent;
    z-index:300;
    transform: translateZ(0);
    transition:all 0.5s;
}
.fixed {
    box-shadow:0 1px 6px rgba(0,0,0,0.2);  
    padding:0px 0;
    animation:slide-down 0.7s;
    opacity:1;    
    background:$bg-color-footer !important;
    transition: all 0.5s;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}
/** end menu */
/*** item artical home ***/
// read more
.read-more{
	color: $font-color-link;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 16px;
	&:hover{
		color:$font-color-brown;
		text-decoration: none;
	}
}
// title item
.title-lead{
	font-size: 24px;
	line-height: 27px;
	font-weight: 500;
	font-family: $font-title;
	margin-bottom: 10px;
	a{
		color:$font-color-title;
		&:hover{
			color:$font-color-brown;
			text-decoration: none;
		}
	}
	// sub title
	&__sub{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 0px;
		font-family: $font-title;
		a{
			color:$font-color-title;
		}
	}
	@media screen and (min-width: $break-small){
		margin-top: 20px;
	}
	@media screen and (min-width: $break-tablet){
		margin-top: 0px;
	}
	
	@media screen and (min-width: $break-large){
		margin-top: 0;
	}
}
// content
.text-content{
	color:$font-color-text;
	line-height: 18px;
	font-size: 14px;
}
/**** end item article home ****/

/***** cruise item luxury cruise page *****/
.cruise{
	.cruise-title{
		font-family: $font-title;
		font-weight: 600;
		a{
			color: $font-color-title;
			&:hover{
				text-decoration: none;
				color:$font-color-brown;
			}
		}
		@media screen and (min-width: $break-small){
			font-size: 18px;
			line-height: 36px;
		}
		@media screen and (min-width: $break-small){
			font-size: 20px;
			line-height: 36px;
		}
		@media screen and (min-width: $break-large){
			font-size: 24px;
			line-height: 36px;
		}
	}
	.star{
		color: #FFD014;
		padding-right: 20px;
	}
	.rate{
		a{
			color: $font-color-link;
			&:hover{
				text-decoration: none;
			}
		}
		@media screen and (min-width: $break-small){
			font-size: 12px;
			line-height: 24px;
		}
		@media screen and (min-width: $break-large){
			font-size: 14px;
		}
	}
	.label-rate{
		background: #42CD62;
		color: #fff;
		border-radius: 4px;
		padding: 3px 6px;
		line-height: 15px;
		text-align: center;
		@media screen and (min-width: $break-small){
			font-size: 12px;
		}
		@media screen and (min-width: $break-large){
			font-size: 14px;
		}
	}
	.off{
		span{
			background: #000;
			text-transform: uppercase;
			font-family: $font-title;
			font-size: 14px;
			line-height: 21px;
			font-weight: 500;
			color: #fff;
			padding: 4px 12px;
		}
	}
	.place, .free{
		margin-bottom: 5px;
		color: #919191;
		font-size: 14px;
		text-transform: uppercase;
		a{
			color:$font-color-link;
			text-transform: capitalize;
			&:hover{
				text-decoration: none;
			}
		}
		.place-item{
			color:$font-color-link;
		}
		span{
			color:#F84846;
			text-transform: capitalize;
		}
		@media screen and(min-width: $break-small){
			line-height: 18px;
		}
		@media screen and(min-width: $break-medium){
			line-height: 20px;
		}
	}
	.price{
		p{
			margin-bottom: 10px;
			color: #323232;
			@media screen and (min-width: $break-small){
				margin-bottom: 0px;
				line-height: 16px;
				display: inline-flex;
				font-size: 13px;
				text-align: left;
			}
			@media screen and (min-width: $break-tablet){
				margin-bottom: 0px;
				line-height: 18px;
				font-size: 14px;
				text-align: right;
				display: block;
			}
			@media screen and (min-width: $break-large){
				margin-bottom: 10px;
				line-height: 18px;
				font-size: 14px;
				text-align: right;
				display: block;
			}
			
		}
		s{
			color: #848484;
			font-weight: 500;
			font-family: $font-title;
			@media screen and (min-width: $break-small){
				font-size: 15px;
				line-height: 16px;
				padding-right: 5px;
			}
			@media screen and (min-width: $break-large){
				font-size: 24px;
				line-height: 18px;
			}
		}
		span{
			font-family: $font-title;
			line-height: 40px;
			font-weight: 700;
			@media screen and (min-width: $break-small){
				font-size: 20px;
				color: red;
			}
			@media screen and (min-width: $break-large){
				font-size: 40px;
				color: #141F35;
			}
		}
	}
}
/***** end cruise item *****/
.page{
	margin-top: 50px;
	&-prev, &-next{
		background: $bg-color-copy;
		padding: .7rem 1rem;
		img{
			width: 14px;
		}
	}
	.page-item.disabled .page-link {
		background: $bg-color-copy;
		background: $bg-color-copy;
		opacity: .4;
		cursor: auto;
	}
	.pages{
		padding: .7rem 2rem;
		background: #FFFFFF;
		border: 1px solid #DCDCDC;
		font-size: 16px;
		line-height: 19px;
		color: #323232;
	}
}

footer{
	background: $bg-color-footer;
	padding: 60px 0px;
	color:$font-color-white;
	h3{
		font-family: $font-title;
		font-weight: 500;
		@media screen and (min-width: $break-small){
			font-size: 24px;
			padding: 10px 0px 20px 0px;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 21px;
			padding: 10px 0px 25px 0px;
		}
		@media screen and (min-width: $break-large){
			font-size: 24px;
			padding: 10px 0px 20px 0px;
		}
	}
	.list-anchor{
		margin:25px 0px 0px -40px;
	}
	ul{
		margin:0px 0px 0px -40px;
		li{
			list-style: none;
			padding-bottom: 20px;
			a{
				font-family: $font-text-light;
				color: $font-color-white;
				font-size: 14px;
				text-transform: uppercase;
				line-height: 21px;
				&:hover{
					color: $font-color-white;
				}
			}
		}
	}
	.follow-us{
		li{
			&:nth-child(1){
				padding-bottom: 8px;
			}
		}
		.phone{
			p{
				@media screen and (min-width: $break-small){
					font-size: 14px;
				}
				@media screen and (min-width: $break-medium){
					font-size: 13px;
				}
				@media screen and (min-width: $break-large){
					font-size: 14px;
				}
			}
			.tel{
				@media screen and (min-width: $break-small){
					margin-top: 20px;
				}
				@media screen and (min-width: $break-tablet){
					margin-top: 0px;
				}
				
			}
		}
	}
	.text-brown{
		color:$font-color-brown;
		font-size: 14px;
	}
	p{
		padding: 0px 0px 0px 0px;
		margin-bottom: 0px;
		font-size: 14px;
		line-height: 20px;
	}
	.icon{
		padding-right: 24px;
	}
}
.copy{
	background: $bg-color-copy;
	p{
		color:$font-color-text;
		font-family: $font-text-light;
		padding: 14px 0px 16px 0px;
		margin-bottom: 0px;
		font-size: 13px;
	}
}