@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald.ttf"); }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova.otf"); }
@font-face {
  font-family: ProximaNovaLight;
  src: url("../fonts/ProximaNovaLight.otf"); }
@font-face {
  font-family: OswaldLight;
  src: url("../fonts/OswaldLight.ttf"); }
@font-face {
  font-family: SF;
  src: url("../fonts/SF.otf"); }
body {
  font-family: ProximaNovaLight, tahoma, sans-serif; }

.top {
  background: #141F35;
  color: #fff;
  padding: 10px 0px;
  font-size: 14px;
  text-align: right; }
  .top p {
    margin-bottom: 0; }
  .top span {
    padding-left: 30px; }
  .top a {
    color: #fff; }
  @media screen and (min-width: 320px) {
    .top {
      display: none; } }
  @media screen and (min-width: 768px) {
    .top {
      display: block; } }

.text-brown {
  color: #C8A472; }

.bg-menu {
  background: #141F35;
  position: static !important; }

/*** menu ***/
.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%; }
  .menu .navbar {
    margin: 0px;
    padding: .5rem 0rem; }
  .menu .navbar-nav .nav-item.active .nav-link {
    color: #C8A472; }
  .menu .navbar-nav .nav-link {
    text-transform: uppercase; }
    @media screen and (min-width: 320px) {
      .menu .navbar-nav .nav-link {
        font-weight: lighter;
        font-family: SF;
        color: #fff;
        font-size: 24px;
        word-spacing: 5px; } }
    @media screen and (min-width: 768px) {
      .menu .navbar-nav .nav-link {
        display: initial;
        font-family: ProximaNovaLight;
        word-spacing: 0px;
        line-height: 50px;
        padding: 30px 0px;
        font-size: 14px;
        word-spacing: 0px; } }
    @media screen and (min-width: 980px) {
      .menu .navbar-nav .nav-link {
        padding: 12px 10px !important;
        font-weight: normal;
        font-family: ProximaNovaLight;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        display: block;
        word-spacing: 0px; } }
    @media screen and (min-width: 1200px) {
      .menu .navbar-nav .nav-link {
        padding: 12px 0px 12px 30px !important;
        word-spacing: 0px;
        display: block; } }
  @media screen and (min-width: 320px) {
    .menu .navbar-nav {
      margin-top: 20%; } }
  @media screen and (min-width: 768px) {
    .menu .navbar-nav {
      margin-top: 5%; } }
  @media screen and (min-width: 980px) {
    .menu .navbar-nav {
      margin-top: 0%; } }
  @media screen and (min-width: 1200px) {
    .menu .navbar-nav {
      margin-top: 0%; } }
  .menu .navbar-toggler:active, .menu .navbar-toggler:focus {
    outline: none; }
  .menu .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear; }
  .menu .navbar-toggler-icon:after, .menu .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
    z-index: 20; }
  .menu .navbar-toggler-fixed {
    border-bottom: 1px solid #fff; }
  .menu .navbar-toggler-fixed:after, .menu .navbar-toggler-fixed:before {
    background-color: #fff; }
  .menu .navbar-toggler-icon:after {
    top: 8px; }
  .menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background: #fff; }
  .menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background: #fff; }
  .menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent; }

@media (max-width: 980px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    right: -100%;
    max-height: 100vh !important;
    height: 100vh;
    padding-bottom: 15px;
    width: 100%;
    background: #1C2539;
    z-index: 10; }

  .navbar-collapse.collapsing {
    max-height: 100vh !important;
    height: 100vh;
    -webkit-transition: right 0.3s ease, width 0.5s ease;
    -o-transition: right 0.3s ease, width 0.5s ease;
    -moz-transition: right 0.3s ease, width 0.5s ease;
    transition: right 0.3s ease, width 0.5s ease; }

  .navbar-collapse.show {
    right: -6%;
    max-height: 100vh !important;
    height: 100vh;
    width: 350px;
    -webkit-transition: right 0.5s ease, width 0.5s ease;
    -o-transition: right 0.5s ease, width 0.5s ease;
    -moz-transition: right 0.5s ease, width 0.5s ease;
    transition: right 0.5s ease, width 0.5s ease; }
    .navbar-collapse.show .navbar-toggler-icon {
      border-bottom: 1px solid #000; }
    .navbar-collapse.show .navbar-toggler-icon:after, .navbar-collapse.show .navbar-toggler-icon:before {
      background-color: #000; }
    .navbar-collapse.show .nav-link {
      text-align: left;
      padding-left: 10%;
      padding-right: 30%; } }
@media (max-width: 480px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    left: -100%;
    max-height: 100vh !important;
    height: 100vh;
    padding-bottom: 15px;
    width: 100%;
    background: #1C2539;
    z-index: 10; }

  .navbar-collapse.collapsing {
    max-height: 100vh !important;
    height: 100vh;
    -webkit-transition: left 0.3s ease, width 0.5s ease;
    -o-transition: left 0.3s ease, width 0.5s ease;
    -moz-transition: left 0.3s ease, width 0.5s ease;
    transition: left 0.3s ease, width 0.5s ease; }

  .navbar-collapse.show {
    left: -6%;
    max-height: 100vh !important;
    height: 100vh;
    width: 111%;
    -webkit-transition: left 0.5s ease, width 0.5s ease;
    -o-transition: left 0.5s ease, width 0.5s ease;
    -moz-transition: left 0.5s ease, width 0.5s ease;
    transition: left 0.5s ease, width 0.5s ease; }
    .navbar-collapse.show .navbar-toggler-icon {
      border-bottom: 1px solid #000; }
    .navbar-collapse.show .navbar-toggler-icon:after, .navbar-collapse.show .navbar-toggler-icon:before {
      background-color: #000; }
    .navbar-collapse.show .nav-link {
      text-align: center;
      padding-left: 0%;
      padding-right: 0%; } }
.float-panel {
  width: 100%;
  background: transparent;
  z-index: 300;
  transform: translateZ(0);
  transition: all 0.5s; }

.fixed {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  padding: 0px 0;
  animation: slide-down 0.7s;
  opacity: 1;
  background: #141F35 !important;
  transition: all 0.5s; }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 0.9;
    transform: translateY(0); } }
/** end menu */
/*** item artical home ***/
.read-more {
  color: #0072BA;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px; }
  .read-more:hover {
    color: #C8A472;
    text-decoration: none; }

.title-lead {
  font-size: 24px;
  line-height: 27px;
  font-weight: 500;
  font-family: Oswald;
  margin-bottom: 10px; }
  .title-lead a {
    color: #323232; }
    .title-lead a:hover {
      color: #C8A472;
      text-decoration: none; }
  .title-lead__sub {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    font-family: Oswald; }
    .title-lead__sub a {
      color: #323232; }
  @media screen and (min-width: 320px) {
    .title-lead {
      margin-top: 20px; } }
  @media screen and (min-width: 768px) {
    .title-lead {
      margin-top: 0px; } }
  @media screen and (min-width: 1200px) {
    .title-lead {
      margin-top: 0; } }

.text-content {
  color: #848484;
  line-height: 18px;
  font-size: 14px; }

/**** end item article home ****/
/***** cruise item luxury cruise page *****/
.cruise .cruise-title {
  font-family: Oswald;
  font-weight: 600; }
  .cruise .cruise-title a {
    color: #323232; }
    .cruise .cruise-title a:hover {
      text-decoration: none;
      color: #C8A472; }
  @media screen and (min-width: 320px) {
    .cruise .cruise-title {
      font-size: 18px;
      line-height: 36px; } }
  @media screen and (min-width: 320px) {
    .cruise .cruise-title {
      font-size: 20px;
      line-height: 36px; } }
  @media screen and (min-width: 1200px) {
    .cruise .cruise-title {
      font-size: 24px;
      line-height: 36px; } }
.cruise .star {
  color: #FFD014;
  padding-right: 20px; }
.cruise .rate a {
  color: #0072BA; }
  .cruise .rate a:hover {
    text-decoration: none; }
@media screen and (min-width: 320px) {
  .cruise .rate {
    font-size: 12px;
    line-height: 24px; } }
@media screen and (min-width: 1200px) {
  .cruise .rate {
    font-size: 14px; } }
.cruise .label-rate {
  background: #42CD62;
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  line-height: 15px;
  text-align: center; }
  @media screen and (min-width: 320px) {
    .cruise .label-rate {
      font-size: 12px; } }
  @media screen and (min-width: 1200px) {
    .cruise .label-rate {
      font-size: 14px; } }
.cruise .off span {
  background: #000;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
  padding: 4px 12px; }
.cruise .place, .cruise .free {
  margin-bottom: 5px;
  color: #919191;
  font-size: 14px;
  text-transform: uppercase; }
  .cruise .place a, .cruise .free a {
    color: #0072BA;
    text-transform: capitalize; }
    .cruise .place a:hover, .cruise .free a:hover {
      text-decoration: none; }
  .cruise .place .place-item, .cruise .free .place-item {
    color: #0072BA; }
  .cruise .place span, .cruise .free span {
    color: #F84846;
    text-transform: capitalize; }
  @media screen and (min-width: 320px) {
    .cruise .place, .cruise .free {
      line-height: 18px; } }
  @media screen and (min-width: 980px) {
    .cruise .place, .cruise .free {
      line-height: 20px; } }
.cruise .price p {
  margin-bottom: 10px;
  color: #323232; }
  @media screen and (min-width: 320px) {
    .cruise .price p {
      margin-bottom: 0px;
      line-height: 16px;
      display: inline-flex;
      font-size: 13px;
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .cruise .price p {
      margin-bottom: 0px;
      line-height: 18px;
      font-size: 14px;
      text-align: right;
      display: block; } }
  @media screen and (min-width: 1200px) {
    .cruise .price p {
      margin-bottom: 10px;
      line-height: 18px;
      font-size: 14px;
      text-align: right;
      display: block; } }
.cruise .price s {
  color: #848484;
  font-weight: 500;
  font-family: Oswald; }
  @media screen and (min-width: 320px) {
    .cruise .price s {
      font-size: 15px;
      line-height: 16px;
      padding-right: 5px; } }
  @media screen and (min-width: 1200px) {
    .cruise .price s {
      font-size: 24px;
      line-height: 18px; } }
.cruise .price span {
  font-family: Oswald;
  line-height: 40px;
  font-weight: 700; }
  @media screen and (min-width: 320px) {
    .cruise .price span {
      font-size: 20px;
      color: red; } }
  @media screen and (min-width: 1200px) {
    .cruise .price span {
      font-size: 40px;
      color: #141F35; } }

/***** end cruise item *****/
.page {
  margin-top: 50px; }
  .page-prev, .page-next {
    background: #1C2539;
    padding: .7rem 1rem; }
    .page-prev img, .page-next img {
      width: 14px; }
  .page .page-item.disabled .page-link {
    background: #1C2539;
    background: #1C2539;
    opacity: .4;
    cursor: auto; }
  .page .pages {
    padding: .7rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    font-size: 16px;
    line-height: 19px;
    color: #323232; }

footer {
  background: #141F35;
  padding: 60px 0px;
  color: #fff; }
  footer h3 {
    font-family: Oswald;
    font-weight: 500; }
    @media screen and (min-width: 320px) {
      footer h3 {
        font-size: 24px;
        padding: 10px 0px 20px 0px; } }
    @media screen and (min-width: 768px) {
      footer h3 {
        font-size: 21px;
        padding: 10px 0px 25px 0px; } }
    @media screen and (min-width: 1200px) {
      footer h3 {
        font-size: 24px;
        padding: 10px 0px 20px 0px; } }
  footer .list-anchor {
    margin: 25px 0px 0px -40px; }
  footer ul {
    margin: 0px 0px 0px -40px; }
    footer ul li {
      list-style: none;
      padding-bottom: 20px; }
      footer ul li a {
        font-family: ProximaNovaLight;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 21px; }
        footer ul li a:hover {
          color: #fff; }
  footer .follow-us li:nth-child(1) {
    padding-bottom: 8px; }
  @media screen and (min-width: 320px) {
    footer .follow-us .phone p {
      font-size: 14px; } }
  @media screen and (min-width: 980px) {
    footer .follow-us .phone p {
      font-size: 13px; } }
  @media screen and (min-width: 1200px) {
    footer .follow-us .phone p {
      font-size: 14px; } }
  @media screen and (min-width: 320px) {
    footer .follow-us .phone .tel {
      margin-top: 20px; } }
  @media screen and (min-width: 768px) {
    footer .follow-us .phone .tel {
      margin-top: 0px; } }
  footer .text-brown {
    color: #C8A472;
    font-size: 14px; }
  footer p {
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px; }
  footer .icon {
    padding-right: 24px; }

.copy {
  background: #1C2539; }
  .copy p {
    color: #848484;
    font-family: ProximaNovaLight;
    padding: 14px 0px 16px 0px;
    margin-bottom: 0px;
    font-size: 13px; }

/*# sourceMappingURL=common.css.map */
