@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald.ttf"); }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova.otf"); }
@font-face {
  font-family: ProximaNovaLight;
  src: url("../fonts/ProximaNovaLight.otf"); }
@font-face {
  font-family: OswaldLight;
  src: url("../fonts/OswaldLight.ttf"); }
@font-face {
  font-family: SF;
  src: url("../fonts/SF.otf"); }
body {
  font-family: ProximaNovaLight, tahoma, sans-serif; }

.top {
  background: #141F35;
  color: #fff;
  padding: 10px 0px;
  font-size: 14px;
  text-align: right; }
  .top p {
    margin-bottom: 0; }
  .top span {
    padding-left: 30px; }
  .top a {
    color: #fff; }
  @media screen and (min-width: 320px) {
    .top {
      display: none; } }
  @media screen and (min-width: 768px) {
    .top {
      display: block; } }

.text-brown {
  color: #C8A472; }

.bg-menu {
  background: #141F35;
  position: static !important; }

/*** menu ***/
.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%; }
  .menu .navbar {
    margin: 0px;
    padding: .5rem 0rem; }
  .menu .navbar-nav .nav-item.active .nav-link {
    color: #C8A472; }
  .menu .navbar-nav .nav-link {
    text-transform: uppercase; }
    @media screen and (min-width: 320px) {
      .menu .navbar-nav .nav-link {
        font-weight: lighter;
        font-family: SF;
        color: #fff;
        font-size: 24px;
        word-spacing: 5px; } }
    @media screen and (min-width: 768px) {
      .menu .navbar-nav .nav-link {
        display: initial;
        font-family: ProximaNovaLight;
        word-spacing: 0px;
        line-height: 50px;
        padding: 30px 0px;
        font-size: 14px;
        word-spacing: 0px; } }
    @media screen and (min-width: 980px) {
      .menu .navbar-nav .nav-link {
        padding: 12px 10px !important;
        font-weight: normal;
        font-family: ProximaNovaLight;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        display: block;
        word-spacing: 0px; } }
    @media screen and (min-width: 1200px) {
      .menu .navbar-nav .nav-link {
        padding: 12px 0px 12px 30px !important;
        word-spacing: 0px;
        display: block; } }
  @media screen and (min-width: 320px) {
    .menu .navbar-nav {
      margin-top: 20%; } }
  @media screen and (min-width: 768px) {
    .menu .navbar-nav {
      margin-top: 5%; } }
  @media screen and (min-width: 980px) {
    .menu .navbar-nav {
      margin-top: 0%; } }
  @media screen and (min-width: 1200px) {
    .menu .navbar-nav {
      margin-top: 0%; } }
  .menu .navbar-toggler:active, .menu .navbar-toggler:focus {
    outline: none; }
  .menu .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear; }
  .menu .navbar-toggler-icon:after, .menu .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
    z-index: 20; }
  .menu .navbar-toggler-fixed {
    border-bottom: 1px solid #fff; }
  .menu .navbar-toggler-fixed:after, .menu .navbar-toggler-fixed:before {
    background-color: #fff; }
  .menu .navbar-toggler-icon:after {
    top: 8px; }
  .menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background: #fff; }
  .menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background: #fff; }
  .menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent; }

@media (max-width: 980px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    right: -100%;
    max-height: 100vh !important;
    height: 100vh;
    padding-bottom: 15px;
    width: 100%;
    background: #1C2539;
    z-index: 10; }

  .navbar-collapse.collapsing {
    max-height: 100vh !important;
    height: 100vh;
    -webkit-transition: right 0.3s ease, width 0.5s ease;
    -o-transition: right 0.3s ease, width 0.5s ease;
    -moz-transition: right 0.3s ease, width 0.5s ease;
    transition: right 0.3s ease, width 0.5s ease; }

  .navbar-collapse.show {
    right: -6%;
    max-height: 100vh !important;
    height: 100vh;
    width: 350px;
    -webkit-transition: right 0.5s ease, width 0.5s ease;
    -o-transition: right 0.5s ease, width 0.5s ease;
    -moz-transition: right 0.5s ease, width 0.5s ease;
    transition: right 0.5s ease, width 0.5s ease; }
    .navbar-collapse.show .navbar-toggler-icon {
      border-bottom: 1px solid #000; }
    .navbar-collapse.show .navbar-toggler-icon:after, .navbar-collapse.show .navbar-toggler-icon:before {
      background-color: #000; }
    .navbar-collapse.show .nav-link {
      text-align: left;
      padding-left: 10%;
      padding-right: 30%; } }
@media (max-width: 480px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    left: -100%;
    max-height: 100vh !important;
    height: 100vh;
    padding-bottom: 15px;
    width: 100%;
    background: #1C2539;
    z-index: 10; }

  .navbar-collapse.collapsing {
    max-height: 100vh !important;
    height: 100vh;
    -webkit-transition: left 0.3s ease, width 0.5s ease;
    -o-transition: left 0.3s ease, width 0.5s ease;
    -moz-transition: left 0.3s ease, width 0.5s ease;
    transition: left 0.3s ease, width 0.5s ease; }

  .navbar-collapse.show {
    left: -6%;
    max-height: 100vh !important;
    height: 100vh;
    width: 111%;
    -webkit-transition: left 0.5s ease, width 0.5s ease;
    -o-transition: left 0.5s ease, width 0.5s ease;
    -moz-transition: left 0.5s ease, width 0.5s ease;
    transition: left 0.5s ease, width 0.5s ease; }
    .navbar-collapse.show .navbar-toggler-icon {
      border-bottom: 1px solid #000; }
    .navbar-collapse.show .navbar-toggler-icon:after, .navbar-collapse.show .navbar-toggler-icon:before {
      background-color: #000; }
    .navbar-collapse.show .nav-link {
      text-align: center;
      padding-left: 0%;
      padding-right: 0%; } }
.float-panel {
  width: 100%;
  background: transparent;
  z-index: 300;
  transform: translateZ(0);
  transition: all 0.5s; }

.fixed {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  padding: 0px 0;
  animation: slide-down 0.7s;
  opacity: 1;
  background: #141F35 !important;
  transition: all 0.5s; }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 0.9;
    transform: translateY(0); } }
/** end menu */
/*** item artical home ***/
.read-more {
  color: #0072BA;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px; }
  .read-more:hover {
    color: #C8A472;
    text-decoration: none; }

.title-lead {
  font-size: 24px;
  line-height: 27px;
  font-weight: 500;
  font-family: Oswald;
  margin-bottom: 10px; }
  .title-lead a {
    color: #323232; }
    .title-lead a:hover {
      color: #C8A472;
      text-decoration: none; }
  .title-lead__sub {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    font-family: Oswald; }
    .title-lead__sub a {
      color: #323232; }
  @media screen and (min-width: 320px) {
    .title-lead {
      margin-top: 20px; } }
  @media screen and (min-width: 768px) {
    .title-lead {
      margin-top: 0px; } }
  @media screen and (min-width: 1200px) {
    .title-lead {
      margin-top: 0; } }

.text-content {
  color: #848484;
  line-height: 18px;
  font-size: 14px; }

/**** end item article home ****/
/***** cruise item luxury cruise page *****/
.cruise .cruise-title {
  font-family: Oswald;
  font-weight: 600; }
  .cruise .cruise-title a {
    color: #323232; }
    .cruise .cruise-title a:hover {
      text-decoration: none;
      color: #C8A472; }
  @media screen and (min-width: 320px) {
    .cruise .cruise-title {
      font-size: 18px;
      line-height: 36px; } }
  @media screen and (min-width: 320px) {
    .cruise .cruise-title {
      font-size: 20px;
      line-height: 36px; } }
  @media screen and (min-width: 1200px) {
    .cruise .cruise-title {
      font-size: 24px;
      line-height: 36px; } }
.cruise .star {
  color: #FFD014;
  padding-right: 20px; }
.cruise .rate a {
  color: #0072BA; }
  .cruise .rate a:hover {
    text-decoration: none; }
@media screen and (min-width: 320px) {
  .cruise .rate {
    font-size: 12px;
    line-height: 24px; } }
@media screen and (min-width: 1200px) {
  .cruise .rate {
    font-size: 14px; } }
.cruise .label-rate {
  background: #42CD62;
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  line-height: 15px;
  text-align: center; }
  @media screen and (min-width: 320px) {
    .cruise .label-rate {
      font-size: 12px; } }
  @media screen and (min-width: 1200px) {
    .cruise .label-rate {
      font-size: 14px; } }
.cruise .off span {
  background: #000;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
  padding: 4px 12px; }
.cruise .place, .cruise .free {
  margin-bottom: 5px;
  color: #919191;
  font-size: 14px;
  text-transform: uppercase; }
  .cruise .place a, .cruise .free a {
    color: #0072BA;
    text-transform: capitalize; }
    .cruise .place a:hover, .cruise .free a:hover {
      text-decoration: none; }
  .cruise .place .place-item, .cruise .free .place-item {
    color: #0072BA; }
  .cruise .place span, .cruise .free span {
    color: #F84846;
    text-transform: capitalize; }
  @media screen and (min-width: 320px) {
    .cruise .place, .cruise .free {
      line-height: 18px; } }
  @media screen and (min-width: 980px) {
    .cruise .place, .cruise .free {
      line-height: 20px; } }
.cruise .price p {
  margin-bottom: 10px;
  color: #323232; }
  @media screen and (min-width: 320px) {
    .cruise .price p {
      margin-bottom: 0px;
      line-height: 16px;
      display: inline-flex;
      font-size: 13px;
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .cruise .price p {
      margin-bottom: 0px;
      line-height: 18px;
      font-size: 14px;
      text-align: right;
      display: block; } }
  @media screen and (min-width: 1200px) {
    .cruise .price p {
      margin-bottom: 10px;
      line-height: 18px;
      font-size: 14px;
      text-align: right;
      display: block; } }
.cruise .price s {
  color: #848484;
  font-weight: 500;
  font-family: Oswald; }
  @media screen and (min-width: 320px) {
    .cruise .price s {
      font-size: 15px;
      line-height: 16px;
      padding-right: 5px; } }
  @media screen and (min-width: 1200px) {
    .cruise .price s {
      font-size: 24px;
      line-height: 18px; } }
.cruise .price span {
  font-family: Oswald;
  line-height: 40px;
  font-weight: 700; }
  @media screen and (min-width: 320px) {
    .cruise .price span {
      font-size: 20px;
      color: red; } }
  @media screen and (min-width: 1200px) {
    .cruise .price span {
      font-size: 40px;
      color: #141F35; } }

/***** end cruise item *****/
.page {
  margin-top: 50px; }
  .page-prev, .page-next {
    background: #1C2539;
    padding: .7rem 1rem; }
    .page-prev img, .page-next img {
      width: 14px; }
  .page .page-item.disabled .page-link {
    background: #1C2539;
    background: #1C2539;
    opacity: .4;
    cursor: auto; }
  .page .pages {
    padding: .7rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    font-size: 16px;
    line-height: 19px;
    color: #323232; }

footer {
  background: #141F35;
  padding: 60px 0px;
  color: #fff; }
  footer h3 {
    font-family: Oswald;
    font-weight: 500; }
    @media screen and (min-width: 320px) {
      footer h3 {
        font-size: 24px;
        padding: 10px 0px 20px 0px; } }
    @media screen and (min-width: 768px) {
      footer h3 {
        font-size: 21px;
        padding: 10px 0px 25px 0px; } }
    @media screen and (min-width: 1200px) {
      footer h3 {
        font-size: 24px;
        padding: 10px 0px 20px 0px; } }
  footer .list-anchor {
    margin: 25px 0px 0px -40px; }
  footer ul {
    margin: 0px 0px 0px -40px; }
    footer ul li {
      list-style: none;
      padding-bottom: 20px; }
      footer ul li a {
        font-family: ProximaNovaLight;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 21px; }
        footer ul li a:hover {
          color: #fff; }
  footer .follow-us li:nth-child(1) {
    padding-bottom: 8px; }
  @media screen and (min-width: 320px) {
    footer .follow-us .phone p {
      font-size: 14px; } }
  @media screen and (min-width: 980px) {
    footer .follow-us .phone p {
      font-size: 13px; } }
  @media screen and (min-width: 1200px) {
    footer .follow-us .phone p {
      font-size: 14px; } }
  @media screen and (min-width: 320px) {
    footer .follow-us .phone .tel {
      margin-top: 20px; } }
  @media screen and (min-width: 768px) {
    footer .follow-us .phone .tel {
      margin-top: 0px; } }
  footer .text-brown {
    color: #C8A472;
    font-size: 14px; }
  footer p {
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px; }
  footer .icon {
    padding-right: 24px; }

.copy {
  background: #1C2539; }
  .copy p {
    color: #848484;
    font-family: ProximaNovaLight;
    padding: 14px 0px 16px 0px;
    margin-bottom: 0px;
    font-size: 13px; }

header {
  position: relative; }
  header #carouselSlide .carousel-item {
    transition-duration: 3.0s; }
    @media screen and (min-width: 320px) {
      header #carouselSlide .carousel-item .big-img {
        display: none; } }
    @media screen and (min-width: 1200px) {
      header #carouselSlide .carousel-item .big-img {
        display: block; } }
    @media screen and (min-width: 320px) {
      header #carouselSlide .carousel-item .medium-img {
        display: none; } }
    @media screen and (min-width: 768px) {
      header #carouselSlide .carousel-item .medium-img {
        display: block; } }
    @media screen and (min-width: 1200px) {
      header #carouselSlide .carousel-item .medium-img {
        display: none; } }
    @media screen and (min-width: 320px) {
      header #carouselSlide .carousel-item .small-img {
        display: block; } }
    @media screen and (min-width: 768px) {
      header #carouselSlide .carousel-item .small-img {
        display: none; } }
  header .home-search {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10; }
    @media screen and (min-width: 320px) {
      header .home-search {
        top: 15%; } }
    @media screen and (min-width: 768px) {
      header .home-search {
        top: 20%; } }
    @media screen and (min-width: 980px) {
      header .home-search {
        top: 30%; } }
  header .search h1 {
    color: #fff;
    font-family: Oswald;
    font-weight: 500;
    text-align: center; }
    @media screen and (min-width: 320px) {
      header .search h1 {
        font-size: 35px;
        line-height: 54px;
        padding-bottom: 25px; } }
    @media screen and (min-width: 768px) {
      header .search h1 {
        font-size: 48px;
        line-height: 64px;
        padding-bottom: 25px; } }
    @media screen and (min-width: 980px) {
      header .search h1 {
        font-size: 56px;
        line-height: 72px;
        padding-bottom: 70px; } }

.form-search {
  background: #fff; }
  .form-search label {
    text-transform: uppercase;
    color: #8D8D8D;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px; }
  .form-search form {
    width: 100%; }
  .form-search .form-row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px; }
  .form-search .group {
    padding: 15px 5px 15px 30px; }
  .form-search .form-group input.form-control {
    border: 0px;
    border-bottom: 1px solid transparent;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 19px;
    font-family: ProximaNova;
    color: #0072BA;
    text-transform: uppercase;
    height: auto;
    border-radius: 0px; }
    .form-search .form-group input.form-control:focus {
      outline: transparent;
      box-shadow: 0 0 0 0.2rem transparent;
      border-bottom: 1px solid #C8A472; }
    .form-search .form-group input.form-control::placeholder {
      color: #0072BA; }
  .form-search .form-group select.form-control {
    border: 0px;
    border-bottom: 1px solid transparent;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 19px;
    font-family: ProximaNova;
    color: #0072BA;
    text-transform: uppercase;
    height: auto;
    border-radius: 0px; }
    .form-search .form-group select.form-control:focus {
      outline: transparent;
      box-shadow: 0 0 0 0.2rem transparent;
      border-bottom: 1px solid #C8A472; }
    .form-search .form-group select.form-control::placeholder {
      color: #0072BA; }
  .form-search .form-group:last-child {
    border-right: 0px; }
  .form-search .form-group .form-control:disabled, .form-search .form-group .form-control[readonly] {
    background-color: #fff;
    opacity: 1; }
  @media screen and (min-width: 320px) {
    .form-search .form-group {
      padding: 5px 20px 5px 0px;
      border-right: 0px solid #D2D2D2; } }
  @media screen and (min-width: 980px) {
    .form-search .form-group {
      padding: 0px 15px 0px 6px;
      border-right: 1px solid #D2D2D2; } }
  .form-search .checkout {
    position: relative; }
    .form-search .checkout .icon-calendar {
      color: #0072BA;
      font-size: 13px;
      padding-right: 0.5em;
      position: absolute;
      right: 6%; }
      @media screen and (min-width: 320px) {
        .form-search .checkout .icon-calendar {
          bottom: 10px; } }
      @media screen and (min-width: 768px) {
        .form-search .checkout .icon-calendar {
          bottom: 10px; } }
      @media screen and (min-width: 980px) {
        .form-search .checkout .icon-calendar {
          bottom: 4px; } }
  .form-search .button-search {
    padding-left: 0px;
    padding-right: 0px; }
    .form-search .button-search button {
      background: #C8A472;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #C8A472;
      height: 100%;
      border-radius: 0px; }
      @media screen and (min-width: 320px) {
        .form-search .button-search button {
          padding: 10px 0px; } }
      @media screen and (min-width: 1200px) {
        .form-search .button-search button {
          padding: 0px 0px; } }

#RoomAdultModal h5 {
  color: #141F35;
  font-family: Oswald;
  font-weight: 400; }
#RoomAdultModal .input-group-text {
  border-radius: 0px;
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
  padding: 0rem .75rem; }
#RoomAdultModal .input-group .form-control {
  background: #fff; }
#RoomAdultModal .form-control {
  border-radius: 0px; }
  #RoomAdultModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0rem transparent; }
@media screen and (min-width: 320px) {
  #RoomAdultModal .room {
    width: 100%; } }
@media screen and (min-width: 1200px) {
  #RoomAdultModal .room {
    width: 30%; } }
#RoomAdultModal .btn {
  border-radius: 0px; }
#RoomAdultModal .btn-done {
  color: #141F35;
  border: 2px solid #141F35;
  font-family: Oswald;
  text-transform: uppercase;
  padding: 8px 25px; }
  #RoomAdultModal .btn-done:hover {
    background: #141F35;
    color: #fff; }
#RoomAdultModal .modal-footer {
  justify-content: flex-start !important; }

/******** Homepage **********/
.home-slogan {
  background: rgba(232, 222, 207, 0.1) url("../img/logo_chim.png") no-repeat;
  background-position: center center; }
  .home-slogan h3 {
    font-family: Oswald;
    font-weight: 500;
    text-align: center; }
    @media screen and (min-width: 320px) {
      .home-slogan h3 {
        font-size: 24px;
        line-height: 36px; } }
    @media screen and (min-width: 980px) {
      .home-slogan h3 {
        font-size: 32px;
        line-height: 47px; } }
  @media screen and (min-width: 320px) {
    .home-slogan {
      background-size: 90%;
      padding: 80px 0px 40px 0px; } }
  @media screen and (min-width: 768px) {
    .home-slogan {
      background-size: 55%;
      padding: 80px 0px 70px 0px; } }
  @media screen and (min-width: 980px) {
    .home-slogan {
      background-size: 40%;
      padding: 100px 0px 100px 0px; } }
  @media screen and (min-width: 1200px) {
    .home-slogan {
      background-size: 30%;
      padding: 150px 0px; } }

.home-best-cruise {
  padding: 60px 0px; }
  .home-best-cruise .param-title {
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #323232; }
    @media screen and (min-width: 320px) {
      .home-best-cruise .param-title {
        font-size: 36px;
        line-height: 50px; } }
    @media screen and (min-width: 768px) {
      .home-best-cruise .param-title {
        font-size: 42px;
        line-height: 50px; } }
    @media screen and (min-width: 980px) {
      .home-best-cruise .param-title {
        font-size: 48px;
        line-height: 70px; } }
  .home-best-cruise .slider {
    max-height: 535px;
    position: relative; }
    .home-best-cruise .slider .owl-item {
      width: 350px; }
      .home-best-cruise .slider .owl-item .card {
        border-radius: 0px;
        border: 1px solid #DBDBDB; }
      .home-best-cruise .slider .owl-item .card-body {
        padding: 0.5rem 1.0rem 1.25rem 1.0rem; }
      .home-best-cruise .slider .owl-item .cruise-item {
        position: relative; }
      .home-best-cruise .slider .owl-item .sale {
        position: absolute;
        top: 20px;
        left: 0px;
        background: #C8A472;
        padding: 4px 10px 4px 18px;
        color: #fff;
        text-transform: uppercase;
        font-family: OswaldLight;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300; }
      .home-best-cruise .slider .owl-item .card-img-top {
        border-radius: 0px;
        max-height: 260px;
        overflow: hidden; }
      .home-best-cruise .slider .owl-item .cruise-title {
        font-family: Oswald;
        font-weight: 600; }
        .home-best-cruise .slider .owl-item .cruise-title a {
          color: #323232; }
          .home-best-cruise .slider .owl-item .cruise-title a:hover {
            text-decoration: none;
            color: #C8A472; }
        @media screen and (min-width: 320px) {
          .home-best-cruise .slider .owl-item .cruise-title {
            font-size: 18px;
            line-height: 36px; } }
        @media screen and (min-width: 320px) {
          .home-best-cruise .slider .owl-item .cruise-title {
            font-size: 20px;
            line-height: 36px; } }
        @media screen and (min-width: 1200px) {
          .home-best-cruise .slider .owl-item .cruise-title {
            font-size: 24px;
            line-height: 36px; } }
      .home-best-cruise .slider .owl-item .star {
        color: #FFD014; }
      .home-best-cruise .slider .owl-item .rate a {
        color: #0072BA; }
        .home-best-cruise .slider .owl-item .rate a:hover {
          text-decoration: none; }
      @media screen and (min-width: 320px) {
        .home-best-cruise .slider .owl-item .rate {
          font-size: 12px;
          line-height: 24px; } }
      @media screen and (min-width: 768px) {
        .home-best-cruise .slider .owl-item .rate {
          font-size: 14px;
          line-height: 24px; } }
      @media screen and (min-width: 768px) {
        .home-best-cruise .slider .owl-item .rate {
          font-size: 12px;
          line-height: 24px; } }
      @media screen and (min-width: 1200px) {
        .home-best-cruise .slider .owl-item .rate {
          font-size: 14px;
          line-height: 16px; } }
      .home-best-cruise .slider .owl-item .label-rate {
        background: #42CD62;
        color: #fff;
        border-radius: 4px;
        padding: 3px 6px;
        font-size: 13px;
        line-height: 15px;
        text-align: center; }
        @media screen and (min-width: 320px) {
          .home-best-cruise .slider .owl-item .label-rate {
            font-size: 12px; } }
        @media screen and (min-width: 768px) {
          .home-best-cruise .slider .owl-item .label-rate {
            font-size: 14px; } }
        @media screen and (min-width: 980px) {
          .home-best-cruise .slider .owl-item .label-rate {
            font-size: 12px; } }
        @media screen and (min-width: 1200px) {
          .home-best-cruise .slider .owl-item .label-rate {
            font-size: 14px; } }
      .home-best-cruise .slider .owl-item .place {
        width: 60%; }
        .home-best-cruise .slider .owl-item .place p {
          margin-bottom: 0;
          color: #919191;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase; }
        .home-best-cruise .slider .owl-item .place a {
          font-size: 14px;
          line-height: 18px;
          color: #0072BA; }
          .home-best-cruise .slider .owl-item .place a:hover {
            text-decoration: none; }
      .home-best-cruise .slider .owl-item .price p {
        margin-bottom: 0px;
        font-size: 12px;
        line-height: 18px; }
      .home-best-cruise .slider .owl-item .price s {
        color: #A8A8A8;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        padding-right: 8px;
        font-family: Oswald; }
      .home-best-cruise .slider .owl-item .price span {
        font-family: Oswald;
        font-size: 20px;
        color: #F84846;
        line-height: 18px;
        font-weight: 600; }
      .home-best-cruise .slider .owl-item .card-footer {
        background: #fff; }
        .home-best-cruise .slider .owl-item .card-footer .sub-title {
          text-transform: uppercase;
          color: #919191; }
        .home-best-cruise .slider .owl-item .card-footer p {
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 16px;
          color: #F84846; }
    .home-best-cruise .slider .owl-prev, .home-best-cruise .slider .owl-next {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #141F35 !important;
      text-align: center;
      opacity: .7;
      transition: opacity .15s ease; }
      .home-best-cruise .slider .owl-prev:hover, .home-best-cruise .slider .owl-next:hover {
        opacity: 1; }
      @media screen and (min-width: 320px) {
        .home-best-cruise .slider .owl-prev img, .home-best-cruise .slider .owl-next img {
          width: 14px; } }
      @media screen and (min-width: 768px) {
        .home-best-cruise .slider .owl-prev img, .home-best-cruise .slider .owl-next img {
          width: 16px; } }
      @media screen and (min-width: 1200px) {
        .home-best-cruise .slider .owl-prev img, .home-best-cruise .slider .owl-next img {
          width: 14px; } }
      @media screen and (min-width: 320px) {
        .home-best-cruise .slider .owl-prev, .home-best-cruise .slider .owl-next {
          width: 40px;
          height: 55px;
          top: 33%; } }
      @media screen and (min-width: 400px) {
        .home-best-cruise .slider .owl-prev, .home-best-cruise .slider .owl-next {
          top: 35%; } }
      @media screen and (min-width: 768px) {
        .home-best-cruise .slider .owl-prev, .home-best-cruise .slider .owl-next {
          width: 50px;
          height: 65px; } }
      @media screen and (min-width: 1200px) {
        .home-best-cruise .slider .owl-prev, .home-best-cruise .slider .owl-next {
          width: 57px;
          height: 88px;
          top: 35%; } }
    @media screen and (min-width: 320px) {
      .home-best-cruise .slider .owl-prev {
        left: -5%; } }
    @media screen and (min-width: 320px) {
      .home-best-cruise .slider .owl-next {
        right: -5%; } }
  .home-best-cruise .button-all {
    margin-top: 50px; }
    .home-best-cruise .button-all a {
      border: 1px solid #C8A472;
      color: #C8A472;
      text-transform: uppercase;
      padding: 12px 40px;
      font-size: 16px;
      line-height: 19px;
      transition: all .5s; }
      .home-best-cruise .button-all a:hover {
        text-decoration: none;
        background: #C8A472;
        color: #fff; }

.home-why {
  background: #C8A472 url("../img/homepage/bg_nen_why.jpg") no-repeat;
  background-size: 100% 55%;
  background-position: top left;
  padding: 110px 0px 110px 0px; }
  @media screen and (min-width: 320px) {
    .home-why .group-title {
      padding: 0px 0px 35px 0px; } }
  @media screen and (min-width: 1200px) {
    .home-why .group-title {
      padding: 0px 0px 65px 0px; } }
  .home-why .title-head {
    color: #fff;
    font-family: Oswald;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 320px) {
      .home-why .title-head {
        font-size: 36px; } }
    @media screen and (min-width: 768px) {
      .home-why .title-head {
        font-size: 48px; } }
    @media screen and (min-width: 1200px) {
      .home-why .title-head {
        font-size: 56px;
        line-height: 72px; } }
  .home-why .sub-title {
    color: #C8A472;
    text-align: center; }
    @media screen and (min-width: 320px) {
      .home-why .sub-title {
        font-size: 24px; } }
    @media screen and (min-width: 768px) {
      .home-why .sub-title {
        font-size: 28px; } }
    @media screen and (min-width: 1200px) {
      .home-why .sub-title {
        font-size: 32px;
        line-height: 37px; } }
  .home-why__content {
    background: #141F35; }
    .home-why__content-paragraph {
      border-bottom: 1px solid #C8A472; }
      .home-why__content-paragraph h4 {
        font-family: OswaldLight;
        color: #fff;
        text-align: center;
        font-weight: 300; }
        .home-why__content-paragraph h4 a {
          color: #C8A472; }
        @media screen and (min-width: 320px) {
          .home-why__content-paragraph h4 {
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 20px; } }
        @media screen and (min-width: 320px) {
          .home-why__content-paragraph h4 {
            font-size: 20px;
            padding-bottom: 40px; } }
        @media screen and (min-width: 1200px) {
          .home-why__content-paragraph h4 {
            font-size: 24px;
            line-height: 36px; } }
    .home-why__content-list {
      padding: 40px 0px 40px 0px; }
    .home-why__content-icon {
      float: left;
      overflow: hidden; }
      @media screen and (min-width: 320px) {
        .home-why__content-icon img {
          width: 35px; } }
      @media screen and (min-width: 1200px) {
        .home-why__content-icon img {
          width: 45px; } }
      @media screen and (min-width: 320px) {
        .home-why__content-icon {
          padding-top: 0px;
          width: 18%; } }
      @media screen and (min-width: 980px) {
        .home-why__content-icon {
          padding-top: 10px;
          width: 20%; } }
      @media screen and (min-width: 1200px) {
        .home-why__content-icon {
          padding-top: 10px;
          width: 22%; } }
    .home-why__content-text {
      float: left;
      text-transform: uppercase;
      color: #C8A472;
      font-weight: 300;
      font-family: OswaldLight;
      padding-left: 5%; }
      @media screen and (min-width: 320px) {
        .home-why__content-text {
          font-size: 16px;
          line-height: 30px;
          width: 80%; } }
      @media screen and (min-width: 980px) {
        .home-why__content-text {
          font-size: 20px;
          line-height: 30px;
          width: 70%; } }
      @media screen and (min-width: 1200px) {
        .home-why__content-text {
          font-size: 24px;
          line-height: 36px; } }
    @media screen and (min-width: 320px) {
      .home-why__content {
        padding: 50px 35px 30px 35px; } }
    @media screen and (min-width: 1200px) {
      .home-why__content {
        padding: 80px 35px 30px 35px; } }

.home-excelente {
  padding: 40px 0px 60px 0px; }
  .home-excelente .carousel-item {
    margin-bottom: 50px; }
    .home-excelente .carousel-item__image {
      float: left;
      width: 40%;
      text-align: center;
      padding: 10px 0px 0px 0px; }
      @media screen and (min-width: 320px) {
        .home-excelente .carousel-item__image {
          margin-top: 15%; } }
      @media screen and (min-width: 768px) {
        .home-excelente .carousel-item__image {
          margin-top: 10%; } }
      @media screen and (min-width: 980px) {
        .home-excelente .carousel-item__image {
          margin-top: 0%; } }
    .home-excelente .carousel-item__content {
      float: left;
      width: 58%;
      padding-left: 2%; }
  .home-excelente .carousel-indicators li {
    background: #C8A472;
    opacity: .2;
    height: 8px;
    width: 46px;
    border-top: 0px;
    border-bottom: 0px; }
    .home-excelente .carousel-indicators li.active {
      opacity: 1; }
  .home-excelente .carousel-control-next, .home-excelente .carousel-control-prev {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #141F35;
    text-align: center;
    opacity: .7;
    transition: opacity .15s ease; }
    .home-excelente .carousel-control-next:hover, .home-excelente .carousel-control-prev:hover {
      opacity: 1; }
    @media screen and (min-width: 320px) {
      .home-excelente .carousel-control-next, .home-excelente .carousel-control-prev {
        top: 35%;
        width: 45px;
        height: 65px; } }
    @media screen and (min-width: 980px) {
      .home-excelente .carousel-control-next, .home-excelente .carousel-control-prev {
        top: 15%; } }
    @media screen and (min-width: 1200px) {
      .home-excelente .carousel-control-next, .home-excelente .carousel-control-prev {
        top: 15%;
        width: 57px;
        height: 88px; } }
  @media screen and (min-width: 320px) {
    .home-excelente .carousel-control-next {
      right: -5%; } }
  @media screen and (min-width: 1200px) {
    .home-excelente .carousel-control-next {
      right: -57px; } }
  @media screen and (min-width: 320px) {
    .home-excelente .carousel-control-prev {
      left: -5%; } }
  @media screen and (min-width: 1200px) {
    .home-excelente .carousel-control-prev {
      left: -57px; } }
  .home-excelente .vote .vote-item {
    display: inline-block;
    list-style: none;
    margin: 10px 4px; }
    @media screen and (min-width: 320px) {
      .home-excelente .vote .vote-item img {
        width: 14px; } }
    @media screen and (min-width: 1200px) {
      .home-excelente .vote .vote-item img {
        width: 24px; } }

.home-blog {
  background: rgba(232, 222, 207, 0.1);
  padding: 60px 0px 40px 0px; }
  .home-blog__go h3 {
    color: #C8A472;
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
    font-family: Oswald; }
  .home-blog__go h2 {
    line-height: 68px;
    font-weight: 600;
    font-family: Oswald;
    margin-bottom: 20px; }
    @media screen and (min-width: 320px) {
      .home-blog__go h2 {
        font-size: 45px; } }
    @media screen and (min-width: 768px) {
      .home-blog__go h2 {
        font-size: 54px; } }
    @media screen and (min-width: 1200px) {
      .home-blog__go h2 {
        font-size: 64px; } }
  .home-blog__go p {
    font-size: 14px;
    line-height: 17px;
    color: #848484; }
  .home-blog__list-item {
    margin-bottom: 20px; }
  .home-blog__list-img {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden; }
    .home-blog__list-img img {
      width: 100%;
      object-fit: cover;
      height: 100%; }

/******** End homepage **********/
/******** Luxury Cruise **********/
.banner img {
  width: 100%; }
@media screen and (min-width: 320px) {
  .banner .mobile-img {
    display: block; } }
@media screen and (min-width: 768px) {
  .banner .mobile-img {
    display: none; } }
@media screen and (min-width: 320px) {
  .banner .tablet-img {
    display: none; } }
@media screen and (min-width: 768px) {
  .banner .tablet-img {
    display: block; } }
@media screen and (min-width: 1200px) {
  .banner .tablet-img {
    display: none; } }
@media screen and (min-width: 320px) {
  .banner .destop-img {
    display: none; } }
@media screen and (min-width: 768px) {
  .banner .destop-img {
    display: none; } }
@media screen and (min-width: 1200px) {
  .banner .destop-img {
    display: block; } }

.luxury {
  background: #F2F2F2; }
  .luxury-filter {
    background: #fff;
    min-height: 100px;
    padding: 28px 0px 0px 0px; }
    .luxury-filter .title-filter {
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      color: #848484;
      font-family: ProximaNova;
      padding-top: 15px; }
    .luxury-filter li {
      position: relative; }
      @media screen and (min-width: 320px) {
        .luxury-filter li {
          width: 100%;
          margin-right: 0; } }
      @media screen and (min-width: 768px) {
        .luxury-filter li {
          width: auto;
          margin-right: 24px; } }
      @media screen and (min-width: 1200px) {
        .luxury-filter li {
          width: auto;
          margin-right: 24px; } }
      @media screen and (min-width: 320px) {
        .luxury-filter li .area {
          width: 100%; } }
      @media screen and (min-width: 768px) {
        .luxury-filter li .area {
          width: 280px; } }
      @media screen and (min-width: 980px) {
        .luxury-filter li .area {
          width: 230px; } }
      @media screen and (min-width: 1200px) {
        .luxury-filter li .area {
          width: 280px; } }
      @media screen and (min-width: 320px) {
        .luxury-filter li .star {
          width: 100%; } }
      @media screen and (min-width: 768px) {
        .luxury-filter li .star {
          width: 230px; } }
      @media screen and (min-width: 320px) {
        .luxury-filter li .price-range {
          width: 100%; } }
      @media screen and (min-width: 768px) {
        .luxury-filter li .price-range {
          width: 390px; } }
      @media screen and (min-width: 980px) {
        .luxury-filter li .price-range {
          width: 290px; } }
      @media screen and (min-width: 1200px) {
        .luxury-filter li .price-range {
          width: 320px; } }
      .luxury-filter li .filter-field {
        text-transform: uppercase;
        padding: 12px 15px;
        border: 1px solid #0072BA;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        margin-bottom: 30px; }
        .luxury-filter li .filter-field .filter-label {
          font-weight: bold;
          padding-right: 5px; }
        .luxury-filter li .filter-field .field {
          color: #0072BA;
          font-size: 14px; }
        .luxury-filter li .filter-field .icon-down {
          color: #0072BA;
          float: right; }
      .luxury-filter li .filter-area {
        display: none;
        position: absolute;
        top: 70%;
        left: 0%;
        width: 100%;
        border: 1px solid #dbdbdb;
        background: #fff;
        padding: 20px 5px 5px 5px;
        z-index: 20; }
        .luxury-filter li .filter-area:before {
          position: absolute;
          top: -8px;
          left: 3%;
          border-top: 1px solid #dbdbdb;
          border-right: 1px solid #dbdbdb;
          content: "";
          width: 15px;
          height: 15px;
          transform: rotate(-45deg);
          background: #fff; }
        .luxury-filter li .filter-area ul {
          margin-left: -30px; }
          .luxury-filter li .filter-area ul li {
            list-style: none; }
            .luxury-filter li .filter-area ul li p {
              margin-bottom: 5px; }
      .luxury-filter li #filter-star p {
        color: #FFD014;
        font-size: 15px;
        padding-top: 3px; }
      .luxury-filter li #filter-price {
        padding: 20px 30px; }
        .luxury-filter li #filter-price h5 {
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #323232;
          font-family: Oswald;
          margin-bottom: 30px; }
        .luxury-filter li #filter-price .input-group {
          width: 80%; }
          .luxury-filter li #filter-price .input-group .form-control {
            background: #fff;
            text-align: center; }
      .luxury-filter li .squaredThree {
        width: 20px;
        position: relative;
        margin: 4px 8px 0px 0px; }
        .luxury-filter li .squaredThree span {
          width: 18px;
          height: 18px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #C8A472; }
          .luxury-filter li .squaredThree span:after {
            content: '';
            width: 11px;
            height: 7px;
            position: absolute;
            top: 3px;
            left: 3px;
            border: 3px solid #C8A472;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg); }
          .luxury-filter li .squaredThree span:hover::after {
            opacity: 0.3; }
        .luxury-filter li .squaredThree input[type=checkbox] {
          visibility: hidden; }
          .luxury-filter li .squaredThree input[type=checkbox]:checked + span:after {
            opacity: 1; }
      .luxury-filter li label {
        margin-bottom: 0rem;
        cursor: pointer; }
        .luxury-filter li label:hover {
          color: #C8A472; }
  @media screen and (min-width: 320px) {
    .luxury-list {
      padding: 50px 0px 50px 0px; } }
  @media screen and (min-width: 1200px) {
    .luxury-list {
      padding: 50px 0px 100px 0px; } }
  .luxury-list__item {
    background: #fff;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden; }
    @media screen and (min-width: 320px) {
      .luxury-list__item {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .luxury-list__item {
        height: 265px;
        max-height: 265px; } }
    @media screen and (min-width: 980px) {
      .luxury-list__item {
        height: 265px;
        max-height: 265px; } }
    .luxury-list__item:hover .bg-brown {
      width: 100%; }
    .luxury-list__item:hover .price p, .luxury-list__item:hover .price s, .luxury-list__item:hover .price span {
      color: #fff !important; }
    .luxury-list__item-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media screen and (min-width: 320px) {
      .luxury-list__item-image {
        width: 100%;
        float: none; } }
    @media screen and (min-width: 768px) {
      .luxury-list__item-image {
        width: 33%;
        height: 265px;
        float: left; } }
    @media screen and (min-width: 980px) {
      .luxury-list__item-image {
        width: 33%;
        float: left; } }
    .luxury-list__item-content {
      border-top: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      overflow: hidden; }
      @media screen and (min-width: 320px) {
        .luxury-list__item-content {
          float: none;
          width: 100%;
          height: auto; } }
      @media screen and (min-width: 768px) {
        .luxury-list__item-content {
          float: left;
          width: 67%;
          height: 100%; } }
      @media screen and (min-width: 1200px) {
        .luxury-list__item-content {
          float: left;
          width: 67%;
          height: 100%; } }
      @media screen and (min-width: 320px) {
        .luxury-list__item-content__info {
          float: none;
          width: 100%;
          padding: 15px 10px; } }
      @media screen and (min-width: 768px) {
        .luxury-list__item-content__info {
          float: left;
          padding: 20px 20px;
          width: 70%; } }
      @media screen and (min-width: 1200px) {
        .luxury-list__item-content__info {
          float: left;
          padding: 40px 30px;
          width: 80%; } }
      .luxury-list__item-content__price {
        position: relative; }
        .luxury-list__item-content__price .bg-brown {
          background: #C8A472;
          position: absolute;
          top: 0%;
          right: 0%;
          z-index: 1;
          width: 0%;
          transition: width .5s; }
          @media screen and (min-width: 320px) {
            .luxury-list__item-content__price .bg-brown {
              height: 232px; } }
          @media screen and (min-width: 768px) {
            .luxury-list__item-content__price .bg-brown {
              height: 265px; } }
        .luxury-list__item-content__price .price {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          line-height: 100%;
          z-index: 10;
          padding: 70px 20px;
          background: transparent;
          transition: all 1s; }
          @media screen and (min-width: 320px) {
            .luxury-list__item-content__price .price {
              padding: 5px 10px 0px 5px; } }
          @media screen and (min-width: 768px) {
            .luxury-list__item-content__price .price {
              padding: 70px 10px; } }
          @media screen and (min-width: 1200px) {
            .luxury-list__item-content__price .price {
              padding: 70px 20px; } }
        @media screen and (min-width: 320px) {
          .luxury-list__item-content__price {
            float: left;
            width: 80%;
            padding-right: 50px;
            border-top: 1px solid #C8A472; } }
        @media screen and (min-width: 768px) {
          .luxury-list__item-content__price {
            float: left;
            width: 20%;
            border-top: 0px; } }
        @media screen and (min-width: 1200px) {
          .luxury-list__item-content__price {
            float: left;
            width: 15%;
            border-top: 0px; } }
      .luxury-list__item-content__link {
        float: right;
        text-align: center; }
        .luxury-list__item-content__link a {
          display: block;
          background: #C8A472;
          color: #fff;
          font-weight: 100; }
          @media screen and (min-width: 320px) {
            .luxury-list__item-content__link a {
              line-height: 50px; } }
          @media screen and (min-width: 768px) {
            .luxury-list__item-content__link a {
              line-height: 265px; } }
        @media screen and (min-width: 320px) {
          .luxury-list__item-content__link {
            width: 20%; } }
        @media screen and (min-width: 768px) {
          .luxury-list__item-content__link {
            width: 11%; } }
        @media screen and (min-width: 1200px) {
          .luxury-list__item-content__link {
            width: 5%; } }
  .luxury .slider-selection {
    background: #f77500 !important; }
  .luxury .slider-warning .slider-selection {
    background-color: #f0ad4e !important; }
  .luxury .slider.slider-horizontal {
    width: 100% !important;
    height: 20px; }
  .luxury .slider-handle {
    background-color: #fff !important;
    background-image: none !important; }
  .luxury .slider-strips .slider-selection {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 252, 252, 0.08) 5px, rgba(252, 252, 252, 0.08) 10px) !important;
    background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 252, 252, 0.08) 5px, rgba(252, 252, 252, 0.08) 10px) !important;
    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 252, 252, 0.08) 5px, rgba(252, 252, 252, 0.08) 10px) !important;
    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 252, 252, 0.08) 5px, rgba(252, 252, 252, 0.08) 10px) !important; }
  .luxury .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px; }
  .luxury .tooltip.top .tooltip-arrow {
    display: none !important; }
  .luxury .slider .tooltip.top {
    margin-top: -25px !important; }
  .luxury .well {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    padding: 0; }
  .luxury .slider-ghost .slider-track {
    height: 5px !important; }
  .luxury .slider-ghost .slider-handle {
    top: -2px !important;
    border: 5px solid #f77500; }
  .luxury .slider-warning.slider-ghost .slider-handle {
    border-color: #f0ad4e; }

/******** End luxury cruise **********/
/******** Detail page **********/
.detail-page .fixed {
  background: #fff !important;
  box-shadow: 0px 0px 0px; }

.rss .breadcrumb {
  background: #fff;
  text-transform: capitalize;
  color: #323232;
  padding-left: 0px; }
  .rss .breadcrumb a {
    color: #C8A472; }

.cruise-detail {
  padding: 10px 0px 40px 0px; }
  .cruise-detail .detail {
    padding-bottom: 40px; }
    .cruise-detail .detail p {
      margin-bottom: 10px; }
    .cruise-detail .detail .detail-title {
      font-family: Oswald;
      color: #323232;
      font-size: 28px;
      font-weight: 600;
      line-height: 40px; }
    .cruise-detail .detail .star {
      color: #FFD014; }
      @media screen and (min-width: 320px) {
        .cruise-detail .detail .star {
          width: 50%;
          float: left; } }
      @media screen and (min-width: 768px) {
        .cruise-detail .detail .star {
          width: 100%;
          float: none; } }
      @media screen and (min-width: 1200px) {
        .cruise-detail .detail .star {
          width: 100%;
          float: none; } }
    .cruise-detail .detail .rate {
      font-size: 14px;
      line-height: 19px;
      color: #0072BA; }
      .cruise-detail .detail .rate .rate-label {
        background: #42CD62;
        color: #fff;
        border-radius: 4px;
        padding: 3px 6px;
        line-height: 15px;
        text-align: center;
        font-size: 13px; }
    .cruise-detail .detail .reviews {
      color: #848484;
      font-size: 14px;
      line-height: 16px; }
    .cruise-detail .detail .tripadvisor {
      color: #0072BA;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      font-family: Oswald; }
    .cruise-detail .detail .tripadvisor-item {
      padding: 15px 0px; }
      .cruise-detail .detail .tripadvisor-item img {
        width: 60px;
        margin-right: 8px; }
      .cruise-detail .detail .tripadvisor-item li img {
        width: 16px;
        margin: 5px 3px 0px 0px; }
    .cruise-detail .detail .price {
      text-align: right; }
      @media screen and (min-width: 320px) {
        .cruise-detail .detail .price {
          padding: 12px 15px 0px 15px; } }
      @media screen and (min-width: 1200px) {
        .cruise-detail .detail .price {
          padding: 25px 0px 0px 0px; } }
      .cruise-detail .detail .price .from {
        line-height: 18px;
        color: #323232; }
        @media screen and (min-width: 320px) {
          .cruise-detail .detail .price .from {
            font-size: 13px; } }
        @media screen and (min-width: 768px) {
          .cruise-detail .detail .price .from {
            font-size: 14px;
            padding-top: 3px; } }
      .cruise-detail .detail .price s {
        color: #848484;
        font-weight: 500;
        font-family: Oswald;
        line-height: 18px; }
        @media screen and (min-width: 320px) {
          .cruise-detail .detail .price s {
            font-size: 24px; } }
        @media screen and (min-width: 768px) {
          .cruise-detail .detail .price s {
            font-size: 28px; } }
        @media screen and (min-width: 1200px) {
          .cruise-detail .detail .price s {
            font-size: 32px; } }
      .cruise-detail .detail .price .price-real {
        color: #141F35;
        font-family: Oswald;
        line-height: 48px;
        font-weight: 500;
        padding-left: 12px; }
        @media screen and (min-width: 320px) {
          .cruise-detail .detail .price .price-real {
            font-size: 36px; } }
        @media screen and (min-width: 768px) {
          .cruise-detail .detail .price .price-real {
            font-size: 42px; } }
        @media screen and (min-width: 1200px) {
          .cruise-detail .detail .price .price-real {
            font-size: 48px; } }
      .cruise-detail .detail .price .flase-sale {
        line-height: 16px;
        color: #F85B59; }
        @media screen and (min-width: 320px) {
          .cruise-detail .detail .price .flase-sale {
            font-size: 14px; } }
        @media screen and (min-width: 768px) {
          .cruise-detail .detail .price .flase-sale {
            font-size: 13px; } }
        @media screen and (min-width: 1200px) {
          .cruise-detail .detail .price .flase-sale {
            font-size: 14px; } }
  .cruise-detail .album {
    margin-bottom: 30px; }
    .cruise-detail .album .img-thumb {
      overflow: hidden; }
      .cruise-detail .album .img-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      @media screen and (min-width: 320px) {
        .cruise-detail .album .img-thumb {
          height: 170px;
          max-height: 170px; } }
      @media screen and (min-width: 768px) {
        .cruise-detail .album .img-thumb {
          height: 85px;
          max-height: 85px; } }
      @media screen and (min-width: 1200px) {
        .cruise-detail .album .img-thumb {
          height: 170px;
          max-height: 170px; } }
    .cruise-detail .album .img-up {
      margin-bottom: 30px; }
    .cruise-detail .album .album-thumb {
      width: 100%; }
      .cruise-detail .album .album-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      @media screen and (min-width: 320px) {
        .cruise-detail .album .album-thumb {
          height: 170px;
          max-height: 170px; } }
      @media screen and (min-width: 400px) {
        .cruise-detail .album .album-thumb {
          height: 200px;
          max-height: 200px; } }
      @media screen and (min-width: 768px) {
        .cruise-detail .album .album-thumb {
          height: 200px;
          max-height: 200px; } }
      @media screen and (min-width: 1200px) {
        .cruise-detail .album .album-thumb {
          height: 370px;
          max-height: 370px; } }
  .cruise-detail .view-all {
    text-align: center; }
    .cruise-detail .view-all .btn-view-all {
      border: 1px solid #C8A472;
      color: #C8A472;
      text-transform: uppercase;
      border-radius: 0px;
      padding: 12px 33px;
      font-size: 16px;
      line-height: 19px;
      font-family: ProximaNova;
      transition: all .5s; }
      .cruise-detail .view-all .btn-view-all:hover {
        background: #C8A472;
        color: #fff; }

.scrollspy {
  padding: 30px 0px;
  background: #F2F2F2; }

@media screen and (min-width: 320px) {
  .submenu {
    overflow-x: scroll; } }
@media screen and (min-width: 768px) {
  .submenu {
    overflow-x: hidden; } }
.submenu .nav {
  background: #fff; }
  @media screen and (min-width: 320px) {
    .submenu .nav {
      width: 220%; } }
  @media screen and (min-width: 768px) {
    .submenu .nav {
      width: 100%; } }
  .submenu .nav .nav-item {
    width: 20%;
    display: inline-block;
    text-align: center; }
    .submenu .nav .nav-item .active {
      background: #C8A472;
      color: #fff; }
    .submenu .nav .nav-item:hover {
      background: #C8A472; }
      .submenu .nav .nav-item:hover .nav-link {
        color: #fff; }
  .submenu .nav .nav-link {
    padding: 22px 0px;
    text-transform: uppercase;
    color: #141F35;
    font-family: ProximaNova; }
    @media screen and (min-width: 320px) {
      .submenu .nav .nav-link {
        font-size: 14px;
        line-height: 19px; } }
    @media screen and (min-width: 768px) {
      .submenu .nav .nav-link {
        font-size: 12px;
        line-height: 19px; } }
    @media screen and (min-width: 1200px) {
      .submenu .nav .nav-link {
        font-size: 16px;
        line-height: 19px; } }

.param-summary {
  background: #F2F2F2; }
  .param-summary h4 {
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    text-align: justify; }
  @media screen and (min-width: 320px) {
    .param-summary {
      padding: 30px 0px 20px 0px; } }
  @media screen and (min-width: 1200px) {
    .param-summary {
      padding: 30px 0px 50px 0px; } }

.cabin {
  background: #f2f2f2; }
  @media screen and (min-width: 320px) {
    .cabin {
      padding: 20px 0px 40px 0px; } }
  @media screen and (min-width: 1200px) {
    .cabin {
      padding: 55px 0px 40px 0px; } }
  .cabin .cabin-list {
    border: 1px solid #dbdbdb;
    background: #fff;
    padding: 15px 20px;
    margin: 30px 0px; }
  .cabin .cabin-text__title {
    font-family: Oswald;
    font-weight: 500;
    line-height: 40px;
    color: #323232; }
    @media screen and (min-width: 320px) {
      .cabin .cabin-text__title {
        font-size: 24px;
        margin-top: 15px; } }
    @media screen and (min-width: 1200px) {
      .cabin .cabin-text__title {
        font-size: 28px;
        margin-top: 0px; } }
  .cabin .cabin-icon {
    margin-right: 10px; }
    .cabin .cabin-icon img {
      width: 20px; }
  .cabin .cabin-info {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px; }
    .cabin .cabin-info__paragraph {
      font-size: 14px;
      line-height: 18px;
      color: #323232;
      padding-top: 5px;
      margin-bottom: 5px; }
  .cabin .cabin-free {
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid #dbdbdb; }
    .cabin .cabin-free p {
      margin-bottom: 2px;
      font-size: 14px;
      line-height: 24px;
      color: #F85B59; }
  .cabin .cabin-price {
    padding: 15px 0px 0px 0px; }
    .cabin .cabin-price p {
      margin-bottom: 5px; }
    .cabin .cabin-price .usd {
      font-size: 14px;
      line-height: 18px; }
    .cabin .cabin-price s {
      font-size: 24px;
      font-family: Oswald;
      line-height: 18px;
      font-weight: 500;
      color: #848484; }
    .cabin .cabin-price strong {
      font-size: 48px;
      line-height: 48px;
      font-family: Oswald;
      color: #323232;
      font-weight: 500; }
    .cabin .cabin-price small {
      font-size: 14px;
      line-height: 18px;
      color: #323232; }
    .cabin .cabin-price .charges {
      font-size: 14px;
      line-height: 18px;
      color: #848484; }
    .cabin .cabin-price .btn-book {
      background: #C8A472;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      line-height: 19px;
      border-radius: 0px;
      padding: 18px 60px;
      margin-top: 10px; }
      @media screen and (min-width: 320px) {
        .cabin .cabin-price .btn-book {
          width: 100%; } }

.rates {
  padding: 20px 0px 40px 0px; }
  .rates .card-columns {
    margin-top: 25px; }
    @media screen and (min-width: 320px) {
      .rates .card-columns {
        column-count: 1; } }
    @media screen and (min-width: 768px) {
      .rates .card-columns {
        column-count: 2; } }
    .rates .card-columns .card {
      margin-bottom: 0px;
      border-radius: 0px;
      border: 0px; }
      .rates .card-columns .card-body {
        padding: 30px 0px 0px 0px; }
      @media screen and (min-width: 320px) {
        .rates .card-columns .card .rates-icon {
          display: none; } }
      @media screen and (min-width: 768px) {
        .rates .card-columns .card .rates-icon {
          width: 24px;
          margin: 3px 0px 0px 0px;
          display: block; } }
      @media screen and (min-width: 1200px) {
        .rates .card-columns .card .rates-icon {
          width: 35px;
          margin: 8px 0px 0px 0px; } }
      .rates .card-columns .card-title {
        font-family: Oswald;
        font-weight: 500;
        color: #323232; }
        @media screen and (min-width: 320px) {
          .rates .card-columns .card-title {
            font-size: 24px;
            line-height: 28px; } }
        @media screen and (min-width: 1200px) {
          .rates .card-columns .card-title {
            font-size: 32px;
            line-height: 47px; } }
      .rates .card-columns .card-list {
        margin-left: -40px;
        margin-bottom: 0; }
        .rates .card-columns .card-list li {
          list-style: none;
          font-size: 14px;
          line-height: 24px; }
          @media screen and (min-width: 320px) {
            .rates .card-columns .card-list li {
              text-align: justify; } }
          @media screen and (min-width: 1200px) {
            .rates .card-columns .card-list li {
              text-align: left; } }
      .rates .card-columns .card p {
        font-size: 15px;
        line-height: 18px;
        text-align: justify; }

.cruise-itineraries {
  padding: 75px 0px 15px 0px;
  background: #f2f2f2; }
  .cruise-itineraries .cruise-itineraries__item {
    margin-bottom: 30px; }
    .cruise-itineraries .cruise-itineraries__item-heading {
      background: #141F35; }
      @media screen and (min-width: 320px) {
        .cruise-itineraries .cruise-itineraries__item-heading {
          padding: 15px 10px; } }
      @media screen and (min-width: 768px) {
        .cruise-itineraries .cruise-itineraries__item-heading {
          padding: 20px 20px; } }
      @media screen and (min-width: 1200px) {
        .cruise-itineraries .cruise-itineraries__item-heading {
          padding: 25px 40px; } }
      .cruise-itineraries .cruise-itineraries__item-heading h3 {
        color: #fff;
        margin-bottom: 0; }
        @media screen and (min-width: 320px) {
          .cruise-itineraries .cruise-itineraries__item-heading h3 {
            font-size: 14px;
            line-height: 23px; } }
        @media screen and (min-width: 768px) {
          .cruise-itineraries .cruise-itineraries__item-heading h3 {
            font-size: 16px;
            line-height: 23px; } }
        @media screen and (min-width: 1200px) {
          .cruise-itineraries .cruise-itineraries__item-heading h3 {
            font-size: 20px;
            line-height: 23px; } }
      .cruise-itineraries .cruise-itineraries__item-heading small {
        padding-top: 5px;
        text-transform: uppercase; }
        @media screen and (min-width: 320px) {
          .cruise-itineraries .cruise-itineraries__item-heading small {
            font-size: 12px;
            line-height: 16px; } }
        @media screen and (min-width: 1200px) {
          .cruise-itineraries .cruise-itineraries__item-heading small {
            font-size: 14px;
            line-height: 16px; } }
    .cruise-itineraries .cruise-itineraries__item .title-heading[aria-expanded="true"] .if-not-collapsed {
      display: none; }
    .cruise-itineraries .cruise-itineraries__item .title-heading[aria-expanded="false"] .if-collapsed {
      display: none; }
    .cruise-itineraries .cruise-itineraries__item-content {
      padding: 0px 0px 0px 0px; }
      .cruise-itineraries .cruise-itineraries__item-content .card-list {
        border-radius: 0px;
        border: 0px; }
      .cruise-itineraries .cruise-itineraries__item-content_heading {
        border-radius: 0px;
        background: #fff;
        border-top: 1px solid #dbdbdb; }
        @media screen and (min-width: 320px) {
          .cruise-itineraries .cruise-itineraries__item-content_heading {
            padding: 15px 10px 10px 10px; } }
        @media screen and (min-width: 768px) {
          .cruise-itineraries .cruise-itineraries__item-content_heading {
            padding: 15px 20px 10px 20px; } }
        @media screen and (min-width: 1200px) {
          .cruise-itineraries .cruise-itineraries__item-content_heading {
            padding: 15px 40px 10px 40px; } }
        .cruise-itineraries .cruise-itineraries__item-content_heading h3 {
          font-family: Oswald;
          font-weight: 500;
          margin-bottom: 0; }
          @media screen and (min-width: 320px) {
            .cruise-itineraries .cruise-itineraries__item-content_heading h3 {
              font-size: 14px; } }
          @media screen and (min-width: 768px) {
            .cruise-itineraries .cruise-itineraries__item-content_heading h3 {
              font-size: 18px; } }
          @media screen and (min-width: 1200px) {
            .cruise-itineraries .cruise-itineraries__item-content_heading h3 {
              font-size: 24px; } }
        .cruise-itineraries .cruise-itineraries__item-content_heading span {
          text-transform: none;
          color: #0072BA; }
        .cruise-itineraries .cruise-itineraries__item-content_heading img {
          transition: .3s transform ease-in-out; }
          @media screen and (min-width: 320px) {
            .cruise-itineraries .cruise-itineraries__item-content_heading img {
              width: 12px;
              margin: 0px; } }
          @media screen and (min-width: 768px) {
            .cruise-itineraries .cruise-itineraries__item-content_heading img {
              width: 16px;
              margin: 0px; } }
          @media screen and (min-width: 1200px) {
            .cruise-itineraries .cruise-itineraries__item-content_heading img {
              width: 20px;
              margin: 10px 0px 0px 0px; } }
      .cruise-itineraries .cruise-itineraries__item-content_heading.collapsed img {
        transform: rotate(180deg); }
      .cruise-itineraries .cruise-itineraries__item-content div[aria-expanded="false"] img {
        transform: rotate(180deg); }
      .cruise-itineraries .cruise-itineraries__item-content_detail {
        text-align: justify;
        color: #323232;
        font-size: 14px;
        line-height: 20px; }
        @media screen and (min-width: 320px) {
          .cruise-itineraries .cruise-itineraries__item-content_detail {
            padding: 20px 20px; } }
        @media screen and (min-width: 768px) {
          .cruise-itineraries .cruise-itineraries__item-content_detail {
            padding: 20px 40px; } }
        @media screen and (min-width: 1200px) {
          .cruise-itineraries .cruise-itineraries__item-content_detail {
            padding: 20px 80px; } }
    .cruise-itineraries .cruise-itineraries__item .card-image img {
      width: 30%;
      margin-right: 2%; }
  .cruise-itineraries .card-header {
    cursor: pointer;
    border-radius: 0px;
    text-transform: uppercase; }

.services-facilities {
  background: #f2f2f2; }
  @media screen and (min-width: 320px) {
    .services-facilities {
      padding: 15px 0px 30px 0px; } }
  @media screen and (min-width: 1200px) {
    .services-facilities {
      padding: 60px 0px; } }
  .services-facilities .card-columns {
    margin-top: 25px; }
    @media screen and (min-width: 320px) {
      .services-facilities .card-columns {
        column-count: 1; } }
    @media screen and (min-width: 768px) {
      .services-facilities .card-columns {
        column-count: 2; } }
    .services-facilities .card-columns .card {
      background: #141F35;
      color: #fff;
      margin-bottom: 30px;
      border-radius: 0px; }
      @media screen and (min-width: 320px) {
        .services-facilities .card-columns .card-body {
          padding: 10px 20px; } }
      @media screen and (min-width: 1200px) {
        .services-facilities .card-columns .card-body {
          padding: 28px 40px; } }
      .services-facilities .card-columns .card-title {
        font-family: Oswald;
        line-height: 47px;
        font-weight: 500; }
      .services-facilities .card-columns .card-list {
        margin-left: -40px;
        margin-bottom: 0; }
        .services-facilities .card-columns .card-list li {
          list-style: none;
          font-size: 14px;
          line-height: 24px; }

.customer-reviews {
  background: #F2F2F2;
  padding: 40px 0px 60px 0px; }
  .customer-reviews .review-rating {
    padding: 30px 0px 40px 0px; }
  .customer-reviews .title-head__review {
    color: #323232;
    font-size: 25px;
    line-height: 30px;
    font-family: Oswald;
    font-weight: 500;
    padding-bottom: 15px; }
    @media screen and (min-width: 320px) {
      .customer-reviews .title-head__review {
        margin-top: 10px; } }
    @media screen and (min-width: 1200px) {
      .customer-reviews .title-head__review {
        margin-top: 0; } }
  .customer-reviews .total-review {
    border: 2px solid #C8A472;
    text-align: center;
    padding: 90px 0px; }
    .customer-reviews .total-review p {
      margin-bottom: 0; }
    .customer-reviews .total-review__text {
      font-size: 16px;
      line-height: 19px; }
    .customer-reviews .total-review .except {
      color: #0072BA; }
      @media screen and (min-width: 320px) {
        .customer-reviews .total-review .except {
          padding-bottom: 25px; } }
      @media screen and (min-width: 768px) {
        .customer-reviews .total-review .except {
          padding-bottom: 12px; } }
      @media screen and (min-width: 1200px) {
        .customer-reviews .total-review .except {
          padding-bottom: 25px; } }
    .customer-reviews .total-review__percent {
      color: #141F35;
      font-weight: bold;
      font-family: Oswald;
      padding-bottom: 5px; }
      @media screen and (min-width: 320px) {
        .customer-reviews .total-review__percent {
          font-size: 54px;
          line-height: 50px; } }
      @media screen and (min-width: 768px) {
        .customer-reviews .total-review__percent {
          font-size: 42px;
          line-height: 45px; } }
      @media screen and (min-width: 1200px) {
        .customer-reviews .total-review__percent {
          font-size: 54px;
          line-height: 50px; } }
  .customer-reviews .total-rating .group-progress .progress {
    height: 10px;
    border-radius: 0px; }
  .customer-reviews .total-rating .group-progress .progress-bar {
    background-color: #0072BA; }
  .customer-reviews .total-rating .group-progress .progress-text {
    color: #0072BA;
    font-size: 14px;
    line-height: 19px;
    padding-top: 3px;
    text-transform: uppercase; }
  .customer-reviews .list-review__item {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #D6D6D6; }
  .customer-reviews .travel-type .title-head__review {
    padding-bottom: 10px; }
  .customer-reviews .travel-type .list-group {
    background: transparent; }
    .customer-reviews .travel-type .list-group .list-group-item {
      position: static;
      display: block;
      padding: 0px 0px 30px 0px;
      margin-bottom: 0px;
      background: transparent;
      border: 0px;
      color: #0072BA;
      font-size: 16px;
      line-height: 19px; }
      .customer-reviews .travel-type .list-group .list-group-item span {
        color: #323232;
        font-size: 14px; }
  .customer-reviews .summary-review p {
    margin-bottom: 15px; }
  .customer-reviews .summary-review .score {
    color: #141F35;
    font-size: 30px;
    line-height: 18px;
    font-weight: bold;
    font-family: Oswald;
    padding-top: 25px; }
    .customer-reviews .summary-review .score strong {
      padding-right: 10px; }
    .customer-reviews .summary-review .score span {
      color: #0072BA;
      font-size: 16px;
      line-height: 19px;
      font-family: ProximaNovaLight;
      padding: -15px 0px 0px 00px; }
  .customer-reviews .summary-review .summary-item img {
    float: left;
    width: 35px;
    padding-right: 12px; }
  .customer-reviews .summary-review .summary-item span {
    float: left;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px; }
    .customer-reviews .summary-review .summary-item span small {
      font-size: 14px;
      line-height: 16px;
      color: #0072BA; }
  .customer-reviews .content-review {
    color: #323232; }
    .customer-reviews .content-review .title-review {
      font-weight: 500;
      font-family: Oswald; }
      @media screen and (min-width: 320px) {
        .customer-reviews .content-review .title-review {
          font-size: 32px;
          line-height: 47px; } }
      @media screen and (min-width: 768px) {
        .customer-reviews .content-review .title-review {
          font-size: 24px;
          line-height: 47px;
          padding-top: 12px; } }
      @media screen and (min-width: 1200px) {
        .customer-reviews .content-review .title-review {
          font-size: 32px;
          line-height: 47px;
          padding-top: 0px; } }
    .customer-reviews .content-review p {
      font-size: 14px;
      line-height: 24px; }

.title-paragraph {
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  color: #323232; }
  .title-paragraph small {
    float: right; }
  .title-paragraph .btn-write {
    border: 1px solid #C8A472;
    color: #C8A472;
    border-radius: 0px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase; }
    @media screen and (min-width: 320px) {
      .title-paragraph .btn-write {
        padding: 5px 10px; } }
    @media screen and (min-width: 1200px) {
      .title-paragraph .btn-write {
        padding: 10px 24px; } }
  @media screen and (min-width: 320px) {
    .title-paragraph {
      font-size: 28px;
      line-height: 32px; } }
  @media screen and (min-width: 768px) {
    .title-paragraph {
      font-size: 32px;
      line-height: 60px; } }
  @media screen and (min-width: 1200px) {
    .title-paragraph {
      font-size: 36px;
      line-height: 71px; } }

/******** End detail page **********/
/******** Book page **********/
.book-page {
  background: #f2f2f2; }
  .book-page .breadcrumb {
    background: transparent;
    padding-top: 20px; }
  .book-page .info-book {
    padding-bottom: 40px;
    margin-top: 25px; }
    .book-page .info-book__information {
      background: #fff;
      border: 1px solid #dbdbdb; }
      @media screen and (min-width: 320px) {
        .book-page .info-book__information {
          padding: 30px 10px 0px 10px; } }
      @media screen and (min-width: 768px) {
        .book-page .info-book__information {
          padding: 30px 30px 0px 30px; } }
      @media screen and (min-width: 1200px) {
        .book-page .info-book__information {
          padding: 50px 30px; } }
      .book-page .info-book__information .border-lable-flt {
        display: block;
        position: relative;
        width: 100%; }
        .book-page .info-book__information .border-lable-flt label {
          position: absolute;
          left: 0;
          top: 0%;
          cursor: text;
          opacity: 1;
          -webkit-transition: all .2s;
          transition: all .2s;
          top: -.8em;
          left: 0rem;
          z-index: 3;
          line-height: 1;
          padding: 0 1px;
          color: #0072BA;
          font-size: 14px; }
          .book-page .info-book__information .border-lable-flt label::after {
            content: " ";
            display: block;
            position: absolute;
            background: white;
            height: 2px;
            top: 50%;
            left: -.2em;
            right: -.2em;
            z-index: -1; }
        .book-page .info-book__information .border-lable-flt input.form-control::-webkit-input-placeholder {
          opacity: 1;
          -webkit-transition: all .2s;
          transition: all .2s; }
        .book-page .info-book__information .border-lable-flt input.form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
          opacity: 0; }
        .book-page .info-book__information .border-lable-flt input.form-control:placeholder-shown:not(:focus) + * {
          font-size: 100%;
          opacity: .5;
          top: 1em; }
      .book-page .info-book__information .input-group .border-lable-flt {
        display: table-cell; }
        .book-page .info-book__information .input-group .border-lable-flt .form-control {
          border: 0px;
          border-bottom: 1px solid rgba(132, 132, 132, 0.3);
          height: 35px;
          width: 100%;
          font-size: 14px;
          line-height: 16px;
          padding: 0rem 0rem; }
        .book-page .info-book__information .input-group .border-lable-flt:not(:last-child), .book-page .info-book__information .input-group .border-lable-flt .input-group .border-lable-flt:not(:last-child) .form-control {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-right: 0; }
        .book-page .info-book__information .input-group .border-lable-flt:not(:first-child), .book-page .info-book__information .input-group .border-lable-flt .input-group .border-lable-flt:not(:first-child) .form-control {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; }
      .book-page .info-book__information input.form-control:focus {
        color: #141F35;
        background-color: #fff;
        box-shadow: 0 0 0 0rem transparent;
        border-bottom: 2px solid #0072BA !important;
        padding: 0rem; }
      .book-page .info-book__information select.form-control {
        width: 100%; }
      .book-page .info-book__information .form-control {
        border-radius: 0px;
        font-size: 14px;
        line-height: 18px; }
      .book-page .info-book__information textarea.form-control:focus {
        box-shadow: 0 0 0 0rem transparent; }
      .book-page .info-book__information .select2-container--bootstrap4 .select2-selection {
        border: 0px;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0rem;
        width: 100%; }
      .book-page .info-book__information .select2-container--bootstrap4.select2-container--focus .select2-selection {
        border-color: #dbdbdb;
        -webkit-box-shadow: 0 0 0 0rem transparent;
        box-shadow: 0 0 0 0rem transparent; }
      .book-page .info-book__information .form-group {
        margin-bottom: 2rem; }
        .book-page .info-book__information .form-group label {
          font-size: 14px;
          color: #0072BA; }
    .book-page .info-book__let-us {
      border: 1px solid #dbdbdb;
      background: #fff;
      min-height: 300px; }
      @media screen and (min-width: 320px) {
        .book-page .info-book__let-us {
          padding: 25px 10px;
          margin-top: 18px; } }
      @media screen and (min-width: 768px) {
        .book-page .info-book__let-us {
          padding: 25px 30px; } }
      @media screen and (min-width: 768px) {
        .book-page .info-book__let-us {
          padding: 25px 30px;
          margin-top: 22px; } }
      .book-page .info-book__let-us__car ul {
        margin: 20px 0px 0px -40px; }
        .book-page .info-book__let-us__car ul li {
          list-style-type: none; }
      .book-page .info-book__let-us__car .car-list {
        width: 20px;
        height: 20px;
        position: relative;
        background: #fff;
        border: 1px solid #dbdbdb; }
        .book-page .info-book__let-us__car .car-list label {
          width: 12px;
          height: 12px;
          position: absolute;
          top: 4px;
          left: 4px;
          cursor: pointer;
          outline: 1px solid #dbdbdb;
          outline-offset: 3px; }
          .book-page .info-book__let-us__car .car-list label:after {
            content: '';
            width: 13px;
            height: 13px;
            position: absolute;
            top: -1px;
            left: -1px;
            background: #C8A472;
            opacity: 0;
            outline: 1px solid #C8A472;
            outline-offset: 3px; }
          .book-page .info-book__let-us__car .car-list label:hover::after {
            opacity: 0.3; }
        .book-page .info-book__let-us__car .car-list input[type=checkbox] {
          visibility: hidden; }
          .book-page .info-book__let-us__car .car-list input[type=checkbox]:checked + label:after {
            opacity: 1; }
      .book-page .info-book__let-us__car p {
        font-size: 14px;
        line-height: 18px;
        color: #141F35; }
        .book-page .info-book__let-us__car p span {
          color: #0072BA; }
        @media screen and (min-width: 320px) {
          .book-page .info-book__let-us__car p {
            padding-top: 0px;
            width: 85%; } }
        @media screen and (min-width: 768px) {
          .book-page .info-book__let-us__car p {
            padding-top: 3px;
            width: 90%; } }
        @media screen and (min-width: 1200px) {
          .book-page .info-book__let-us__car p {
            padding-top: 5px; } }
      .book-page .info-book__let-us__need {
        padding-top: 10px; }
        .book-page .info-book__let-us__need p {
          margin-bottom: 0px;
          font-size: 14px;
          line-height: 18px;
          color: #141F35;
          padding-top: 10px; }
          .book-page .info-book__let-us__need p span {
            color: #0072BA; }
        .book-page .info-book__let-us__need .form-control {
          width: 30%;
          border: 0px;
          border-bottom: 1px solid #dbdbdb;
          font-size: 14px;
          line-height: 16px; }
        .book-page .info-book__let-us__need .select2-container--bootstrap4 .select2-selection {
          border: 10px;
          border-bottom: 1px solid #dbdbdb;
          border-radius: 0rem;
          width: 100%; }
        .book-page .info-book__let-us__need .select2-container .select2-selection--single {
          height: 35px !important; }
        .book-page .info-book__let-us__need .select2-container--bootstrap4.select2-container--focus .select2-selection {
          border-color: #dbdbdb;
          -webkit-box-shadow: 0 0 0 0rem transparent;
          box-shadow: 0 0 0 0rem transparent; }
    .book-page .info-book__cruise {
      background: #fff;
      border: 1px solid #DBDBDB; }
      @media screen and (min-width: 320px) {
        .book-page .info-book__cruise {
          padding: 20px 10px 0px 10px; } }
      @media screen and (min-width: 768px) {
        .book-page .info-book__cruise {
          padding: 20px 30px 0px 30px; } }
      @media screen and (min-width: 1200px) {
        .book-page .info-book__cruise {
          padding: 28px 30px 10px 30px; } }
      .book-page .info-book__cruise-title h1 {
        font-family: Oswald;
        color: #323232;
        font-weight: 500; }
        @media screen and (min-width: 320px) {
          .book-page .info-book__cruise-title h1 {
            font-size: 22px;
            line-height: 25px; } }
        @media screen and (min-width: 768px) {
          .book-page .info-book__cruise-title h1 {
            font-size: 28px;
            line-height: 35px; } }
        @media screen and (min-width: 1200px) {
          .book-page .info-book__cruise-title h1 {
            line-height: 40px; } }
      .book-page .info-book__cruise-title small {
        color: #FFD014;
        font-weight: normal; }
        @media screen and (min-width: 320px) {
          .book-page .info-book__cruise-title small {
            font-size: 16px;
            padding: 0px 0px 0px 15px; } }
        @media screen and (min-width: 768px) {
          .book-page .info-book__cruise-title small {
            font-size: 20px;
            padding: 6px 0px 0px 15px; } }
        .book-page .info-book__cruise-title small i {
          padding-right: 3px; }
      .book-page .info-book__cruise-itineraries {
        text-transform: uppercase;
        line-height: 19px;
        color: #0072BA; }
        @media screen and (min-width: 320px) {
          .book-page .info-book__cruise-itineraries {
            font-size: 13px; } }
        @media screen and (min-width: 768px) {
          .book-page .info-book__cruise-itineraries {
            font-size: 16px; } }
      .book-page .info-book__cruise-image {
        width: 100%;
        overflow: hidden; }
        @media screen and (min-width: 320px) {
          .book-page .info-book__cruise-image {
            height: auto; } }
        @media screen and (min-width: 768px) {
          .book-page .info-book__cruise-image {
            height: 280px; } }
        @media screen and (min-width: 980px) {
          .book-page .info-book__cruise-image {
            height: 250px; } }
        @media screen and (min-width: 1200px) {
          .book-page .info-book__cruise-image {
            height: 280px; } }
        .book-page .info-book__cruise-image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .book-page .info-book__cruise-content {
        padding: 30px 0px 0px 0px; }
        .book-page .info-book__cruise-content h4 {
          color: #848484;
          font-size: 13px;
          line-height: 18px;
          text-transform: uppercase;
          margin-bottom: 5px; }
        .book-page .info-book__cruise-content p > strong {
          color: #323232;
          font-size: 15px;
          line-height: 16px; }
        .book-page .info-book__cruise-content .free {
          padding-bottom: 10px; }
          .book-page .info-book__cruise-content .free p {
            color: #F85B59;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0; }
      .book-page .info-book__cruise-services {
        border-top: 1px solid rgba(132, 132, 132, 0.3);
        padding: 20px 0%; }
        .book-page .info-book__cruise-services h5 {
          font-size: 13px;
          color: #848484;
          line-height: 15px;
          padding-top: 8px; }
        .book-page .info-book__cruise-services p {
          margin-bottom: 0;
          font-size: 14px;
          line-height: 22px; }
          .book-page .info-book__cruise-services p s {
            color: #848484; }
          .book-page .info-book__cruise-services p span {
            color: #0072BA; }
      .book-page .info-book__cruise-total-price {
        border-top: 1px solid rgba(132, 132, 132, 0.3);
        padding: 20px 0px 0px 0px; }
        .book-page .info-book__cruise-total-price h5 {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 5px;
          color: #141F35;
          text-transform: uppercase;
          font-weight: bold; }
        .book-page .info-book__cruise-total-price p {
          color: #848484;
          font-size: 14px;
          line-height: 18px; }
        .book-page .info-book__cruise-total-price strong {
          font-family: Oswald;
          font-weight: 500;
          line-height: 40px;
          color: #0072BA; }
          @media screen and (min-width: 320px) {
            .book-page .info-book__cruise-total-price strong {
              font-size: 28px; } }
          @media screen and (min-width: 768px) {
            .book-page .info-book__cruise-total-price strong {
              font-size: 32px; } }
    .book-page .info-book__heading {
      line-height: 27px;
      font-family: Oswald;
      color: #323232;
      margin-bottom: 5px; }
      @media screen and (min-width: 320px) {
        .book-page .info-book__heading {
          font-size: 20px; } }
      @media screen and (min-width: 768px) {
        .book-page .info-book__heading {
          font-size: 24px; } }
  .book-page .term {
    background: #fff;
    color: #323232;
    padding: 30px 0px 20px 0px; }
    .book-page .term::-webkit-scrollbar {
      width: 6px;
      background-color: #f1f1f1; }
    .book-page .term::-webkit-scrollbar-thumb {
      background-color: #f5f5f5;
      border-radius: 5px; }
    .book-page .term::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #f2f2f2;
      background-color: #f1f1f1; }
    @media screen and (min-width: 320px) {
      .book-page .term {
        max-height: 320px;
        overflow-y: scroll; } }
    @media screen and (min-width: 980px) {
      .book-page .term {
        max-height: 350px; } }
    .book-page .term h2 {
      font-family: Oswald;
      font-size: 24px;
      line-height: 37px;
      font-weight: 500; }
    .book-page .term p {
      font-size: 14px;
      line-height: 24px;
      text-align: justify; }
  .book-page .next-step {
    padding: 20px 0px 100px 0px; }
    .book-page .next-step p {
      color: #848484;
      font-size: 14px;
      line-height: 18px; }
    .book-page .next-step .btn-next {
      background: #C8A472;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 19px;
      border-radius: 0px;
      padding: 18px 40px;
      border: 2px solid #C8A472;
      transition: all 0.3s; }
      .book-page .next-step .btn-next:hover {
        background: #fff;
        color: #C8A472; }

.select2-results__options::-webkit-scrollbar {
  width: 6px;
  background-color: #f2f2f2; }

.select2-results__options::-webkit-scrollbar-thumb {
  background-color: #C8A472;
  border-radius: 5px; }

.select2-results__options::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2; }

.stepwizard-step p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #323232;
  font-weight: 600; }
.stepwizard-step .button-step {
  background: #141F35;
  border: 2px solid #141F35;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 18px;
  color: #fff;
  font-weight: 600; }
  .stepwizard-step .button-step:hover {
    color: #C8A472;
    border: 2px solid #C8A472;
    background: #fff; }
.stepwizard-step .button-active {
  color: #C8A472;
  border: 2px solid #C8A472;
  background: #fff; }

.stepwizard-row {
  display: table-row; }

.stepwizard {
  display: table;
  width: 100%;
  position: relative; }

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.stepwizard-row:before {
  top: 22px;
  bottom: 0;
  left: 0%;
  right: 0%;
  position: absolute;
  content: " ";
  width: 65%;
  height: 2px;
  background-color: #ccc;
  margin: 0px auto;
  z-order: 0; }

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative; }

/******** End book page **********/

/*# sourceMappingURL=style.css.map */
