@import "common";

header{
	position: relative;
	#carouselSlide .carousel-item{
    	transition-duration: 3.0s;
    	.big-img{
			@media screen and (min-width: $break-small){
				display: none;
			}
			@media screen and (min-width: $break-large){
				display: block
			}
    	}
    	.medium-img{
    		@media screen and (min-width: $break-small){
				display: none;
			}
			@media screen and (min-width: $break-tablet){
				display: block
			}
			@media screen and (min-width: $break-large){
				display: none
			}
    	}
    	.small-img{
			@media screen and (min-width: $break-small){
				display: block
			}
			@media screen and (min-width: $break-tablet){
				display: none;
			}
    	}
	}
	.home-search{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 10;
		@media screen and (min-width: $break-small){
			top: 15%;
		}
		@media screen and (min-width: $break-tablet){
			top: 20%;
		}
		@media screen and (min-width: $break-medium){
			top: 30%;
		}
	}
	.search{
		h1{
			color:#fff;
			font-family: $font-title;
			font-weight: 500;
			text-align: center;
			@media screen and (min-width: $break-small){
				font-size: 35px;
				line-height: 54px;
				padding-bottom: 25px;
			}
			@media screen and (min-width: $break-tablet){
				font-size: 48px;
				line-height: 64px;
				padding-bottom: 25px;
			}
			@media screen and (min-width: $break-medium){
				font-size: 56px;
				line-height: 72px;
				padding-bottom: 70px;
			}
			
		}
	}
}
.form-search{
	background: #fff;
	label{
		text-transform: uppercase;
		color:#8D8D8D;
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 5px;
	}
	form{
		width: 100%;
	}
	.form-row{
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
	}
	.group{
		padding: 15px 5px 15px 30px;
	}
	.form-group{
		input.form-control{
			border:0px;
			border-bottom:1px solid transparent;
			padding: 0px 0px;
			font-size: 14px;
			line-height: 19px;
			font-family: $font-text;
			color:$font-color-link;
			text-transform: uppercase;
			height: auto;
			border-radius:0px;
			&:focus{
				outline: transparent;
				box-shadow: 0 0 0 0.2rem transparent;
				border-bottom:1px solid $font-color-brown;
			}
			&::placeholder{
				color:$font-color-link;
			}
		}
		select.form-control{
			border:0px;
			border-bottom:1px solid transparent;
			padding: 0px 0px;
			font-size: 14px;
			line-height: 19px;
			font-family: $font-text;
			color:$font-color-link;
			text-transform: uppercase;
			height: auto;
			border-radius:0px;
			&:focus{
				outline: transparent;
				box-shadow: 0 0 0 0.2rem transparent;
				border-bottom:1px solid $font-color-brown;
			}
			&::placeholder{
				color:$font-color-link;
			}
		}
		&:last-child{
			border-right:0px;
		}
		.form-control:disabled, .form-control[readonly] {
		    background-color: #fff;
		    opacity: 1;
		}
		@media screen and (min-width: $break-small){
			padding: 5px 20px 5px 0px;
			border-right:0px solid #D2D2D2;
		}
		@media screen and (min-width: $break-medium){
			padding: 0px 15px 0px 6px;
			border-right:1px solid #D2D2D2;
		}
	}
	.checkout{
		position: relative;
		.icon-calendar{
		    color: $font-color-link;
		    font-size: 13px;
		    padding-right: 0.5em;
		    position: absolute;
		    right: 6%;
		    @media screen and (min-width: $break-small){
				bottom: 10px;
		    }
		    @media screen and (min-width: $break-tablet){
				bottom: 10px;
		    }
		    @media screen and (min-width: $break-medium){
				bottom: 4px;
		    }
		}
	}
	.button-search{
		padding-left: 0px;
		padding-right: 0px;
		button{
			background:$font-color-brown;
			color:#fff;
			text-transform: uppercase;
			border:1px solid $font-color-brown;
			height: 100%;
			border-radius: 0px;
			@media screen and (min-width: $break-small){
				padding: 10px 0px;
			}
			@media screen and (min-width: $break-large){
				padding: 0px 0px;
			}
		}
	}
}
#RoomAdultModal {
	h5{
		color:$bg-color-footer;
		font-family: $font-title;
		font-weight: 400;
	}
	.input-group{
		&-text{
			border-radius:0px;
			cursor: pointer;
			font-weight: 600;
			font-size: 24px;
		    padding: 0rem .75rem;
		}
		.form-control{
			background: #fff;
		}
	}
	.form-control{
		border-radius:0px;
		&:focus {
		    color: #495057;
		    background-color: #fff;
		    border-color: #ced4da;
		    outline: 0;
		    box-shadow: 0 0 0 0rem transparent;
		}
	}
	.room{
		@media screen and (min-width: $break-small){
			width: 100%;
		}
		@media screen and (min-width: $break-large){
			width: 30%;
		}
	}
	.btn{
		border-radius:0px;
	}
	.btn-done{
		color:$bg-color-footer;
		border:2px solid $bg-color-footer;
		font-family: $font-title;
		text-transform: uppercase;
		padding: 8px 25px;
		&:hover{
			background: $bg-color-footer;
			color: #fff;
		}
	}
	.modal-footer {
		justify-content: flex-start !important;
	}
}
/******** Homepage **********/
.home-slogan{
	background: rgba(232, 222, 207, 0.1) url('../img/logo_chim.png') no-repeat;
	background-position: center center;
	h3{
		font-family: $font-title;
		font-weight: 500;
		text-align: center;
		@media screen and (min-width: $break-small){
			font-size: 24px;
			line-height: 36px;
		}
		@media screen and (min-width: $break-medium){
			font-size: 32px;
			line-height: 47px;
		}
	}
	@media screen and (min-width: $break-small){
		background-size: 90%;
		padding: 80px 0px 40px 0px;
	}
	@media screen and (min-width: $break-tablet){
		background-size: 55%;
		padding: 80px 0px 70px 0px;
	}
	@media screen and (min-width: $break-medium){
		background-size: 40%;
		padding: 100px 0px 100px 0px;
	}
	@media screen and (min-width: $break-large){
		background-size: 30%;
		padding: 150px 0px;
	}
}
.home-best-cruise{
	padding: 60px 0px;
	.param-title{
		font-family: $font-title;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 25px;
		color:$font-color-title;
		@media screen and (min-width: $break-small){
			font-size: 36px;
			line-height: 50px;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 42px;
			line-height: 50px;
		}
		@media screen and (min-width: $break-medium){
			font-size: 48px;
			line-height: 70px;
		}
	}
	.slider{
		max-height: 535px;
		position: relative;
		.owl-item{
			width: 350px;
			.card{
				border-radius:0px;
				border: 1px solid #DBDBDB;
			}
			.card-body{
				padding: 0.5rem 1.0rem 1.25rem 1.0rem;
			}
			.cruise-item{
				position: relative;
			}
			.sale{
				position: absolute;
				top: 20px;
				left: 0px;
				background: $font-color-brown;
				padding: 4px 10px 4px 18px;
				color:#fff;
				text-transform: uppercase;
				font-family: $font-title-light;
				font-size: 16px;
				line-height: 24px;
				font-weight: 300;
			}
			.card-img-top{
				border-radius:0px;
				max-height: 260px;	
				overflow: hidden;
			}
			.cruise-title{
				font-family: $font-title;
				font-weight: 600;
				a{
					color: $font-color-title;
					&:hover{
						text-decoration: none;
						color:$font-color-brown;
					}
				}
				@media screen and (min-width: $break-small){
					font-size: 18px;
					line-height: 36px;
				}
				@media screen and (min-width: $break-small){
					font-size: 20px;
					line-height: 36px;
				}
				@media screen and (min-width: $break-large){
					font-size: 24px;
					line-height: 36px;
				}
			}
			.star{
				color: #FFD014;
			}
			.rate{
				a{
					color: $font-color-link;
					&:hover{
						text-decoration: none;
					}
				}
				@media screen and (min-width: $break-small){
					font-size: 12px;
					line-height: 24px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 14px;
					line-height: 24px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 12px;
					line-height: 24px;
				}
				@media screen and (min-width: $break-large){
					font-size: 14px;
					line-height: 16px;
				}
			}
			.label-rate{
				background: #42CD62;
				color: #fff;
				border-radius: 4px;
				padding: 3px 6px;
				font-size: 13px;
				line-height: 15px;
				text-align: center;
				@media screen and (min-width: $break-small){
					font-size: 12px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 14px;
				}
				@media screen and (min-width: $break-medium){
					font-size: 12px;
				}
				@media screen and (min-width: $break-large){
					font-size: 14px;
				}
			}
			.place{
				width: 60%;
				p{
					margin-bottom: 0;
					color: #919191;
					font-size: 14px;
					line-height: 16px;
					text-transform: uppercase;
				}
				a{
					font-size: 14px;
					line-height: 18px;
					color:$font-color-link;
					&:hover{
						text-decoration: none;
					}
				}
			}
			.price{
				p{
					margin-bottom: 0px;
					font-size: 12px;
					line-height: 18px;
				}
				s{
					color: #A8A8A8;
					font-size: 14px;
					line-height: 18px;
					font-weight: 600;
					padding-right: 8px;
					font-family: $font-title;
				}
				span{
					font-family: $font-title;
					font-size: 20px;
					color: #F84846;
					line-height: 18px;
					font-weight: 600;
				}
			}
			.card-footer{
				background: #fff;
				.sub-title{
					text-transform: uppercase;
					color: #919191;
				}
				p{
					margin-bottom: 8px;
					font-size: 14px;
					line-height: 16px;
					color: #F84846;
				}
			}
		}
		.owl-prev, .owl-next{
			position: absolute;
		    bottom: 0;
		    z-index: 1;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-align: center;
		    align-items: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    background: $bg-color-footer !important;
		    text-align: center;
		    opacity: .7;
		    transition: opacity .15s ease;
		    &:hover{
		    	opacity: 1;
		    }
		    img{
		    	@media screen and (min-width: $break-small){
					width: 14px;
		    	}
		    	@media screen and (min-width: $break-tablet){
					width: 16px;
		    	}
		    	@media screen and (min-width: $break-large){
					width: 14px;
		    	}
		    }
		    @media screen and (min-width: $break-small){
				width: 40px;
	    		height: 55px;
	    		top: 33%;
		    }
		    @media screen and (min-width: $break-mobile){
	    		top: 35%;
		    }
		    @media screen and (min-width: $break-tablet){
	    		width: 50px;
		    	height: 65px;
		    }
		    @media screen and (min-width: $break-large){
		    	width: 57px;
		    	height: 88px;
		    	top: 35%;
		    }
		}
		.owl-prev{
	    	@media screen and (min-width: $break-small){
	    		left: -5%;
	    	}
	    	@media screen and (min-width: $break-large){
	    		// left: 0%;
	    	}
	    }
	    .owl-next{
	    	@media screen and (min-width: $break-small){
	    		right: -5%;
	    	}
	    	@media screen and (min-width: $break-large){
	    		// left: 0%;
	    	}
	    }
	}
	.button-all{
		margin-top: 50px;
		a{
			border:1px solid $font-color-brown;
			color: $font-color-brown;
			text-transform: uppercase;
			padding: 12px 40px;
			font-size: 16px;
			line-height: 19px;
			transition: all .5s;
			&:hover{
				text-decoration: none;
				background: $font-color-brown;
				color:#fff;
			}
		}
	}
}
.home-why{
	background: #C8A472 url('../img/homepage/bg_nen_why.jpg') no-repeat;
	background-size: 100% 55%;
	background-position: top left;
	padding: 110px 0px 110px 0px;
	.group-title{
		@media screen and (min-width: $break-small){
			padding: 0px 0px 35px 0px;
		}
		@media screen and (min-width: $break-large){
			padding: 0px 0px 65px 0px;
		}
	}
	.title-head{
		color:#fff;
		font-family: $font-title;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: $break-small){
			font-size: 36px;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 48px;
		}
		@media screen and (min-width: $break-large){
			font-size: 56px;
			line-height: 72px;
		}
	}
	.sub-title{
		color: $font-color-brown;
		text-align: center;
		@media screen and (min-width: $break-small){
			font-size: 24px;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 28px;
		}
		@media screen and (min-width: $break-large){
			font-size: 32px;
			line-height: 37px;
		}
	}
	&__content{
		background: $bg-color-footer;
		&-paragraph{
			border-bottom: 1px solid $font-color-brown;
			h4{
				font-family: $font-title-light;
				color:#fff;
				text-align: center;
				font-weight: 300;
				a{
					color:$font-color-brown;
				}
				@media screen and (min-width: $break-small){
					font-size: 18px;
					line-height: 30px;
					padding-bottom: 20px;
				}
				@media screen and (min-width: $break-small){
					font-size: 20px;
					padding-bottom: 40px;
				}
				@media screen and (min-width: $break-large){
					font-size: 24px;
					line-height: 36px;
				}
			}
		}
		&-list{
			padding:40px 0px 40px 0px;
		}
		&-icon{
			float: left;
			overflow: hidden;
			img{
				@media screen and (min-width: $break-small){
					width: 35px;
				}
				@media screen and (min-width: $break-large){
					width: 45px;
				}
			}
			@media screen and (min-width: $break-small){
				padding-top: 0px;
				width: 18%;
			}
			@media screen and (min-width: $break-medium){
				padding-top: 10px;
				width: 20%;
			}
			@media screen and (min-width: $break-large){
				padding-top: 10px;
				width: 22%;
			}
		}
		&-text{
			float: left;
			text-transform: uppercase;
			color: $font-color-brown;
			font-weight: 300;
			font-family: $font-title-light;
			padding-left: 5%;
			@media screen and (min-width: $break-small){
				font-size: 16px;
				line-height: 30px;
				width: 80%;
			}
			@media screen and (min-width: $break-medium){
				font-size: 20px;
				line-height: 30px;
				width: 70%;
			}
			@media screen and (min-width: $break-large){
				font-size: 24px;
				line-height: 36px;
			}
		}
		@media screen and (min-width: $break-small){
			padding: 50px 35px 30px 35px;
		}
		@media screen and (min-width: $break-large){
			padding: 80px 35px 30px 35px;
		}
	}
}
.home-excelente{
	padding: 40px 0px 60px 0px;
	.carousel-item{
		margin-bottom: 50px;
		&__image{
			float: left;
			width: 40%;
			text-align: center;
			padding: 10px 0px 0px 0px;
			@media screen and (min-width: $break-small){
				margin-top: 15%;
			}
			@media screen and (min-width: $break-tablet){
				margin-top: 10%;
			}
			@media screen and (min-width: $break-medium){
				margin-top: 0%;
			}
		}
		&__content{
			float: left;
			width: 58%;
			padding-left: 2%;
		}
	}
	.carousel-indicators {
	    li{
	    	background: #C8A472;
	    	opacity: .2;
	    	height: 8px;
	    	width: 46px;
	    	border-top: 0px;
	    	border-bottom: 0px;
	    	&.active{
	    		opacity: 1;
	    	}
	    }
	}
	.carousel-control-next, .carousel-control-prev {
	    position: absolute;
	    bottom: 0;
	    z-index: 1;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    background: $bg-color-footer;
	    text-align: center;
	    opacity: .7;
	    transition: opacity .15s ease;
	    &:hover{
	    	opacity: 1;
	    }
	    @media screen and (min-width: $break-small){
			top: 35%;
			width: 45px;
	    	height: 65px;
		}
		@media screen and (min-width: $break-medium){
			top: 15%;
		}
		@media screen and (min-width: $break-large){
			top: 15%;
			width: 57px;
	    	height: 88px;
		}
	}
	.carousel-control-next{
		@media screen and (min-width: $break-small){
			right: -5%;
		}
		@media screen and (min-width: $break-large){
			right: -57px;
		}
		
	}
	.carousel-control-prev{
		@media screen and (min-width: $break-small){
			left: -5%;
		}
		@media screen and (min-width: $break-large){
			left: -57px;
		}
	}
	
	.vote{
		.vote-item{
			display: inline-block;
			list-style: none;
			margin: 10px 4px;
			img{
				@media screen and (min-width: $break-small){
					width: 14px;
				}
				@media screen and (min-width: $break-large){
					width: 24px;
				}
			}
		}
	}
}
.home-blog{
	background: rgba(232, 222, 207, 0.1);
	padding: 60px 0px 40px 0px;
	&__go{
		h3{
			color:$font-color-brown;
			font-size: 24px;
			line-height: 27px;
			font-weight: 600;
			font-family: $font-title;
		}
		h2{
			line-height: 68px;
			font-weight: 600;
			font-family: $font-title;
			margin-bottom: 20px;
			@media screen and (min-width: $break-small){
				font-size: 45px;
			}
			@media screen and (min-width: $break-tablet){
				font-size: 54px;
			}
			
			@media screen and (min-width: $break-large){
				font-size: 64px;
			}
		}
		p{
			font-size: 14px;
			line-height: 17px;
			color: $font-color-text;
		}
	}
	&__list{
		&-item{
			margin-bottom: 20px;
		}
		&-img{
			padding-left: 0px;
			padding-right: 0px;
			overflow: hidden;
			img{
				width: 100%;
				object-fit: cover;
				height: 100%;
			}
		}
	}
}
/******** End homepage **********/

/******** Luxury Cruise **********/
.banner{
	img{
		width: 100%;
	}
	.mobile-img{
		@media screen and (min-width: $break-small){
			display: block;
		}
		@media screen and (min-width: $break-tablet){
			display: none;
		}
	}
	.tablet-img{
		@media screen and (min-width: $break-small){
			display: none;
		}
		@media screen and (min-width: $break-tablet){
			display: block;
		}
		@media screen and (min-width: $break-large){
			display: none;
		}
	}
	.destop-img{
		@media screen and (min-width: $break-small){
			display: none;
		}
		@media screen and (min-width: $break-tablet){
			display: none;
		}
		@media screen and (min-width: $break-large){
			display: block;
		}
		
	}
}
.luxury{
	background: #F2F2F2;
	&-filter{
		background: #fff;
		min-height: 100px;
		padding: 28px 0px 0px 0px;
		.title-filter{
			font-size: 18px;
			line-height: 21px;
			text-transform: uppercase;
			color: #848484;
			font-family: $font-text;
			padding-top: 15px;
		}
		li{
			position: relative;
			@media screen and (min-width: $break-small){
				width: 100%;
				margin-right: 0;
			}
			@media screen and (min-width: $break-tablet){
				width: auto;
				margin-right: 24px;
			}
			@media screen and (min-width: $break-large){
				width: auto;
				margin-right: 24px;
			}
			
			.area{
				@media screen and (min-width: $break-small){
					width: 100%;
				}
				@media screen and (min-width: $break-tablet){
					width: 280px;
				}
				@media screen and (min-width: $break-medium){
					width: 230px;
				}
				@media screen and (min-width: $break-large){
					width: 280px;
				}
			}
			.star{
				@media screen and (min-width: $break-small){
					width: 100%;
				}
				@media screen and (min-width: $break-tablet){
					width: 230px;
				}
				@media screen and (min-width: $break-large){
					// width: 230px;
				}
			}
			.price-range{
				@media screen and (min-width: $break-small){
					width: 100%;
				}
				@media screen and (min-width: $break-tablet){
					width: 390px;
				}
				@media screen and (min-width: $break-medium){
					width: 290px;
				}
				@media screen and (min-width: $break-large){
					width: 320px;
				}	
			}
			.filter-field{
				text-transform: uppercase;				
				padding: 12px 15px;
				border:1px solid $font-color-link;
				font-size: 16px;
				line-height: 19px;
				cursor: pointer;
				margin-bottom: 30px;
				@media screen and (min-width: $break-small){

				}
				.filter-label{
					font-weight: bold;
					padding-right: 5px;
				}
				.field{
					color: $font-color-link;
					font-size: 14px;
				}
				.icon-down{
					color:$font-color-link;
					float: right;
				}
			}
			.filter-area{
				display: none;
				position: absolute;
				top: 70%;
				left: 0%;
				width: 100%;
				border:1px solid #dbdbdb;
				background: #fff;
				padding: 20px 5px 5px 5px;
				z-index: 20;
				&:before{
					position: absolute;
					top: -8px;
					left: 3%;
					border-top:1px solid #dbdbdb;
					border-right:1px solid #dbdbdb;
					content: "";
					width: 15px;
					height: 15px;
					transform: rotate(-45deg);
					background: #fff;
				}
				ul{
					margin-left: -30px;
					li{
						list-style: none;
						p{
							margin-bottom: 5px;
						}
					}
				}
			}
			#filter-star{
				p{
					color:#FFD014;
					font-size: 15px;
					padding-top: 3px;
				}
			}
			#filter-price{
				padding: 20px 30px;
				h5{
					font-weight: 500;
					font-size: 14px;
					text-transform: uppercase;
					color: #323232;
					font-family: $font-title;
					margin-bottom: 30px;
				}
				.input-group{
					.form-control{
						background: #fff;
						text-align: center;
					}
					width: 80%;
				}
			}
			.squaredThree {
			  width: 20px;
			  position: relative;
			  margin:4px 8px 0px 0px;
			  span {
			    width: 18px;
			    height: 18px;
			    cursor: pointer;
			    position: absolute;
			    top: 0;
			    left: 0;
			    border:1px solid $font-color-brown;
			    &:after {
			      content: '';
			      width: 11px;
			      height: 7px;
			      position: absolute;
			      top: 3px;
			      left: 3px;
			      border: 3px solid $font-color-brown;
			      border-top: none;
			      border-right: none;
			      background: transparent;
			      opacity: 0;
			      transform: rotate(-45deg);
			    }
			    &:hover::after {
			      opacity: 0.3;
			    }
			  }
			  input[type=checkbox] {
			    visibility: hidden;
			    &:checked + span:after {
			      opacity: 1;
			    }    
			  }
			}
			label{
				margin-bottom: 0rem;
				cursor: pointer;
				&:hover{
					color: $font-color-brown;
				}
			}
		}
		.down{}
	}
	&-list{
		@media screen and (min-width: $break-small){
			padding: 50px 0px 50px 0px;
		}
		@media screen and (min-width: $break-large){
			padding: 50px 0px 100px 0px;
		}
		&__item{
			background: #fff;
			width: 100%;
			margin-bottom: 30px;
			overflow: hidden;
			@media screen and (min-width: $break-small){
				height: auto;
			}
			@media screen and (min-width: $break-tablet){
				height: 265px;
				max-height: 265px;
			}
			@media screen and (min-width: $break-medium){
				height: 265px;
				max-height: 265px;
			}
			&:hover{
				.bg-brown{
					width: 100%;
				}
				.price{
					p,s, span{
						color:#fff !important;
					}
				}
			}
			&-image{
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				@media screen and (min-width: $break-small){
					width: 100%;
					float: none;
				}
				@media screen and (min-width: $break-tablet){
					width: 33%;
					height: 265px;
					float: left;
				}
				@media screen and (min-width: $break-medium){
					width: 33%;
					float: left;
				}
			}
			&-content{
				border-top: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;
				border-bottom: 1px solid #dbdbdb;
				overflow: hidden;
				@media screen and (min-width: $break-small){
					float: none;
					width: 100%;
					height: auto;
				}
				@media screen and (min-width: $break-tablet){
					float: left;
					width: 67%;
					height: 100%;
				}
				@media screen and (min-width: $break-large){
					float: left;
					width: 67%;
					height: 100%;
				}
				&__info{
					@media screen and (min-width: $break-small){
						float: none;
						width: 100%;
						padding: 15px 10px;
					}
					@media screen and (min-width: $break-tablet){
						float: left;
						padding: 20px 20px;
						width: 70%;
					}
					@media screen and (min-width: $break-large){
						float: left;
						padding: 40px 30px;
						width: 80%;
					}
				}
				&__price{
					position: relative;
					.bg-brown{
						background: $font-color-brown;
						position: absolute;
						top: 0%;
						right: 0%;
						z-index: 1;
						width: 0%;
						transition: width .5s;
						@media screen and (min-width: $break-small){
							height: 232px;
						}
						@media screen and (min-width: $break-tablet){
							height: 265px;
						}
					}
					.price{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						line-height: 100%;
						z-index: 10;
						padding: 70px 20px;
						background: transparent;
						transition: all 1s;
						@media screen and (min-width: $break-small){
							padding: 5px 10px 0px 5px;
						}
						@media screen and (min-width: $break-tablet){
							padding: 70px 10px;
						}
						@media screen and (min-width: $break-large){
							padding: 70px 20px;
						}
						
					}
					@media screen and (min-width: $break-small){
						float: left;
						width: 80%;
						padding-right: 50px;
						border-top: 1px solid $font-color-brown;
					}
					@media screen and (min-width: $break-tablet){
						float: left;
						width: 20%;
						border-top: 0px;
					}
					@media screen and (min-width: $break-large){
						float: left;
						width: 15%;
						border-top: 0px;
					}		
				}
				&__link{
					float: right;
					text-align: center;
					a{
						display: block;
						background: $font-color-brown;
						color:#fff;
						font-weight: 100;
						@media screen and (min-width: $break-small){
							line-height: 50px;
						}
						@media screen and (min-width: $break-tablet){
							line-height: 265px;
						}
					}
					@media screen and (min-width: $break-small){
						width: 20%;
					}
					@media screen and (min-width: $break-tablet){
						width: 11%;
					}
					@media screen and (min-width: $break-large){
						width: 5%;
					}
				}
			}
		}
	}
	.slider-selection {
	background: #f77500 !important;
}
.slider-warning .slider-selection {
	background-color: #f0ad4e !important;
}
.slider.slider-horizontal {
    width: 100% !important;
    height: 20px;
}
.slider-handle {
	background-color: #fff !important;
	background-image: none !important;
}

.slider-strips .slider-selection {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important; 
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
    display: none !important;
}
.slider .tooltip.top {
    margin-top: -25px !important;
}
.well {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	width: 100% !important;
	padding: 0;
}
.slider-ghost .slider-track {
	height: 5px !important;
}
.slider-ghost .slider-handle {
	top: -2px !important;
	border: 5px solid #f77500;
}
.slider-warning.slider-ghost .slider-handle {
	border-color: #f0ad4e;
}
}
/******** End luxury cruise **********/
/******** Detail page **********/
.detail-page{
	.fixed{
		background: #fff !important;
		box-shadow: 0px 0px 0px;
	}
}
.rss{
	.breadcrumb{
		background: #fff;
		text-transform: capitalize;
		color: $font-color-title;
		padding-left: 0px;
		a{
			color:$font-color-brown;
		}
	}
}
.cruise-detail{
	padding: 10px 0px 40px 0px;
	.detail{
		padding-bottom: 40px;
		p{
			margin-bottom: 10px;
		}
		.detail-title{
			font-family: $font-title;
			color: $font-color-title;
			font-size: 28px;
			font-weight: 600;
			line-height: 40px;
		}
		.star{
			color: #FFD014;
			@media screen and (min-width: $break-small){
				width: 50%;
				float: left;
			}
			@media screen and (min-width: $break-tablet){
				width: 100%;
				float: none;
			}
			
			@media screen and (min-width: $break-large){
				width: 100%;
				float: none;
			}
		}
		.rate{
			font-size: 14px;
			line-height: 19px;
			color:$font-color-link;
			.rate-label{
				background: #42CD62;
				color: #fff;
				border-radius: 4px;
				padding: 3px 6px;
				line-height: 15px;
				text-align: center;
				font-size: 13px;
			}
		}
		.reviews{
			color: #848484;
			font-size: 14px;
			line-height: 16px;
		}
		.tripadvisor{
			color: $font-color-link;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
			font-family: $font-title;
		}
		.tripadvisor-item{
			padding: 15px 0px;
			img{
				width: 60px;
				margin-right: 8px;
			}
			li{
				img{
					width: 16px;
					margin:5px 3px 0px 0px;
				}
			}
		}
		.price{
			text-align: right;
			@media screen and (min-width: $break-small){
				padding: 12px 15px 0px 15px;
			}
			@media screen and (min-width: $break-large){
				padding: 25px 0px 0px 0px;
			}
			.from{
				line-height: 18px;
				color:$font-color-title;
				@media screen and (min-width: $break-small){
					font-size: 13px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 14px;
					padding-top: 3px;
				}
			}
			s{
				color:#848484;
				font-weight: 500;
				font-family: $font-title;
				line-height: 18px;
				@media screen and (min-width: $break-small){
					font-size: 24px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 28px;
				}
				@media screen and (min-width: $break-large){
					font-size: 32px;
				}
			}
			.price-real{
				color: #141F35;
				font-family: $font-title;
				line-height: 48px;
				font-weight: 500;
				padding-left: 12px;
				@media screen and (min-width: $break-small){
					font-size: 36px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 42px;
				}
				@media screen and (min-width: $break-large){
					font-size: 48px;
				}
			}
			.flase-sale{
				line-height: 16px;
				color:#F85B59;
				@media screen and (min-width: $break-small){
					font-size: 14px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 13px;
				}
				@media screen and (min-width: $break-large){
					font-size: 14px;
				}
			}
		}
	}
	.album{
		margin-bottom: 30px;
		.img-thumb{
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media screen and (min-width: $break-small){
				height: 170px;
				max-height: 170px;
			}
			@media screen and (min-width: $break-tablet){
				height: 85px;
				max-height: 85px;
			}
			@media screen and (min-width: $break-large){
				height: 170px;
				max-height: 170px;
			}
		}
		.img-up{
			margin-bottom: 30px;
		}
		.album-thumb{
			width: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media screen and (min-width: $break-small){
				height: 170px;
				max-height: 170px;
			}
			@media screen and (min-width: $break-mobile){
				height: 200px;
				max-height: 200px;
			}
			@media screen and (min-width: $break-tablet){
				height: 200px;
				max-height: 200px;
			}
			@media screen and (min-width: $break-large){
				height: 370px;
				max-height: 370px;
			}
		}
	}
	.view-all{
		text-align: center;
		.btn-view-all{
			border:1px solid $font-color-brown;
			color:$font-color-brown;
			text-transform: uppercase;
			border-radius: 0px;
			padding: 12px 33px;
			font-size: 16px;
			line-height: 19px;
			font-family: $font-text;
			transition: all .5s;
			&:hover{
				background:$font-color-brown;
				color:#fff;
			}
		}
	}
}
.scrollspy{
	padding: 30px 0px;
	background: #F2F2F2;
}
.submenu{
	@media screen and (min-width: $break-small){
		overflow-x: scroll;
	}
	@media screen and (min-width: $break-tablet){
		overflow-x: hidden;
	}
	
	.nav{
		background: #fff;
		@media screen and (min-width: $break-small){
			width: 220%;
		}
		@media screen and (min-width: $break-tablet){
			width: 100%;
		}
		
		.nav-item{
			width: 20%;
			display: inline-block;
			text-align: center;
			.active{
				background: $font-color-brown;
				color:#fff;
			}
			&:hover{
				background: $font-color-brown;
				.nav-link{
					color:#fff;
				}
			}
		}
		.nav-link{
			padding: 22px 0px;
			text-transform: uppercase;
			
			color: #141F35;
			font-family: $font-text;
			@media screen and (min-width: $break-small){
				font-size: 14px;
				line-height: 19px;
			}
			@media screen and (min-width: $break-tablet){
				font-size: 12px;
				line-height: 19px;
			}
			@media screen and (min-width: $break-large){
				font-size: 16px;
				line-height: 19px;
			}
		}
	}
}
.param-summary{
	background: #F2F2F2;
	h4{
		font-size: 14px;
		line-height: 21px;
		color: $font-color-title;
		text-align: justify;
	}
	@media screen and (min-width: $break-small){
		padding: 30px 0px 20px 0px;
	}
	@media screen and (min-width: $break-large){
		padding: 30px 0px 50px 0px;
	}
}
.cabin{
	background: #f2f2f2;
	
	@media screen and (min-width: $break-small){
		padding: 20px 0px 40px 0px;
	}
	@media screen and (min-width: $break-large){
		padding: 55px 0px 40px 0px;
	}
	.cabin-list{
		border:1px solid #dbdbdb;
		background: #fff;
		padding: 15px 20px;
		margin: 30px 0px;
	}
	.cabin-text__title{
		font-family: $font-title;
		font-weight: 500;
		line-height: 40px;
		color: $font-color-title;
		@media screen and (min-width: $break-small){
			font-size: 24px;
			margin-top: 15px;
		}
		@media screen and (min-width: $break-large){
			font-size: 28px;
			margin-top: 0px;
		}
	}
	.cabin-icon{
		margin-right: 10px;
		img{
			width: 20px;
		}
	}
	.cabin-info{
		border-bottom: 1px solid #dbdbdb;
		padding-bottom: 10px;
		&__paragraph{
			font-size: 14px;
			line-height: 18px;
			color:$font-color-title;
			padding-top: 5px;
			margin-bottom: 5px;
		}
	}
	.cabin-free{
		padding: 10px 0px 5px 0px;
		border-bottom: 1px solid #dbdbdb;
		p{
			margin-bottom: 2px;
			font-size: 14px;
			line-height: 24px;
			color: #F85B59;
		}
	}
	.cabin-price{
		padding: 15px 0px 0px 0px;
		p{
			margin-bottom: 5px;
		}
		.usd{
			font-size: 14px; 
			line-height: 18px;
		}
		s{
			font-size: 24px;
			font-family: $font-title;
			line-height: 18px;
			font-weight: 500;
			color:#848484;
		}
		strong{
			font-size: 48px;
			line-height: 48px;
			font-family: $font-title;
			color:$font-color-title;
			font-weight: 500;
		}
		small{
			font-size: 14px;
			line-height: 18px;
			color:#323232;
		}
		.charges{
			font-size: 14px;
			line-height: 18px;
			color:#848484;
		}
		.btn-book{
			background: $font-color-brown;
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
			line-height: 19px;
			border-radius: 0px;
			padding: 18px 60px;
			margin-top: 10px;
			@media screen and (min-width: $break-small){
				width: 100%;
			}
			@media screen and (min-width: $break-large){

			}
		}
	}
}
.rates{
	padding: 20px 0px 40px 0px;
	.card-columns {
		margin-top: 25px;
		@media screen and (min-width: $break-small){
			column-count: 1;
		}
		@media screen and (min-width: $break-tablet){
			column-count: 2;
		}
		.card{
			margin-bottom: 0px;
			border-radius: 0px;
			border:0px;
			&-body{
				padding: 30px 0px 0px 0px;
			}
			.rates-icon{
				@media screen and (min-width: $break-small){
					display: none;
				}
				@media screen and (min-width: $break-tablet){
					width: 24px;
					margin: 3px 0px 0px 0px;
					display: block;
				}
				@media screen and (min-width: $break-large){
					width: 35px;
					margin: 8px 0px 0px 0px;
				}
			}
			&-title{
				font-family: $font-title;
				
				font-weight: 500;
				color: $font-color-title;
				@media screen and (min-width: $break-small){
					font-size: 24px;
					line-height: 28px;
				}
				@media screen and (min-width: $break-large){
					font-size: 32px;
					line-height: 47px;
				}
			}
			&-list{
				margin-left: -40px;
				margin-bottom: 0;
				li{
					list-style: none;
					font-size: 14px;
					line-height: 24px;
					@media screen and (min-width: $break-small){
						text-align: justify;
					}
					@media screen and (min-width: $break-large){
						text-align: left;
					}
				}
			}
			p{
				font-size: 15px;
				line-height: 18px;
				text-align: justify;
			}
		}
	}
}
.cruise-itineraries{
	padding: 75px 0px 15px 0px;
	background: #f2f2f2;
	.cruise-itineraries__item{
		margin-bottom: 30px;
		&-heading{
			background: $bg-color-footer;
			@media screen and (min-width: $break-small){
				padding: 15px 10px;
			}
			@media screen and (min-width: $break-tablet){
				padding: 20px 20px;
			}
			@media screen and (min-width: $break-large){
				padding: 25px 40px;
			}
			h3{
				color:#fff;
				margin-bottom: 0;
				@media screen and (min-width: $break-small){
					font-size: 14px;
					line-height: 23px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 16px;
					line-height: 23px;
				}
				@media screen and (min-width: $break-large){
					font-size: 20px;
					line-height: 23px;
				}
			}
			small{
				padding-top: 5px;
				text-transform: uppercase;
				@media screen and (min-width: $break-small){
					font-size: 12px;
					line-height: 16px;
				}
				@media screen and (min-width: $break-large){
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
		.title-heading[aria-expanded="true"] .if-not-collapsed {
			display: none;
		}
		.title-heading[aria-expanded="false"] .if-collapsed {
			display: none;
		}
		&-content{
			padding: 0px 0px 0px 0px;
			.card-list{
				border-radius: 0px;
				border:0px;
			}
			&_heading{
				border-radius: 0px;
				background: #fff;
				border-top: 1px solid #dbdbdb;
				@media screen and (min-width: $break-small){
					padding: 15px 10px 10px 10px;
				}
				@media screen and (min-width: $break-tablet){
					padding: 15px 20px 10px 20px;
				}
				@media screen and (min-width: $break-large){
					padding: 15px 40px 10px 40px;
				}
				h3{
					font-family: $font-title;
					font-weight: 500;
					margin-bottom: 0;
					@media screen and (min-width: $break-small){
						font-size: 14px;
					}
					@media screen and (min-width: $break-tablet){
						font-size: 18px;
					}
					@media screen and (min-width: $break-large){
						font-size: 24px;
					}
				}
				span{
					text-transform: none;
					color:$font-color-link;
				}
				img{
					
					transition: .3s transform ease-in-out;
					@media screen and (min-width: $break-small){
						width: 12px;
						margin: 0px;
					}
					@media screen and (min-width: $break-tablet){
						width: 16px;
						margin: 0px;
					}
					@media screen and (min-width: $break-large){
						width: 20px;
						margin: 10px 0px 0px 0px;
					}
				}
			}
			&_heading.collapsed{
				img{
					transform: rotate(180deg);
				}
			}
			div[aria-expanded="false"]{
				img{
					transform: rotate(180deg);
				}
			}
			&_detail{
				text-align: justify;
				color: #323232;
				font-size: 14px;
				line-height: 20px;
				@media screen and (min-width: $break-small){
					padding: 20px 20px;
				}
				@media screen and (min-width: $break-tablet){
					padding: 20px 40px;
				}
				
				@media screen and (min-width: $break-large){
					padding: 20px 80px;
				}
			}
		}
		.card-image{
			img{
				width: 30%;
				margin-right: 2%;
			}
		}
	}
	.card-header{
		cursor: pointer;
		border-radius: 0px;
		text-transform: uppercase;
	}
}
.services-facilities{
	background: #f2f2f2;
	@media screen and (min-width: $break-small){
		padding: 15px 0px 30px 0px;
	}
	@media screen and (min-width: $break-large){
		padding: 60px 0px;
	}
	.card-columns {
		margin-top: 25px;
		@media screen and (min-width: $break-small){
			column-count: 1;
		}
		@media screen and (min-width: $break-tablet){
			column-count: 2;
		}
		.card{
			background: $bg-color-footer;
			color: #fff;
			margin-bottom: 30px;
			border-radius: 0px;
			&-body{
				@media screen and (min-width: $break-small){
					padding: 10px 20px;
				}
				@media screen and (min-width: $break-large){
					padding: 28px 40px;
				}
			}
			&-title{
				font-family: $font-title;
				
				line-height: 47px;
				font-weight: 500;
				
			}
			&-list{
				margin-left: -40px;
				margin-bottom: 0;
				li{
					list-style: none;
					font-size: 14px;
					line-height: 24px;
				}
			}
		}
	}
}
.customer-reviews{
	background: #F2F2F2;
	padding: 40px 0px 60px 0px;
	.review-rating{
		padding: 30px 0px 40px 0px;
	}
	.title-head__review{
		color: $font-color-title;
		font-size: 25px;
		line-height: 30px;
		font-family: $font-title;
		font-weight: 500;
		padding-bottom: 15px;
		@media screen and (min-width: $break-small){
			margin-top: 10px;
		}
		@media screen and (min-width: $break-large){
			margin-top: 0;
		}
	}
	.total-review{
		border:2px solid $font-color-brown;
		text-align: center;
		padding: 90px 0px;
		p{
			margin-bottom: 0;
		}
		&__text{
			font-size: 16px;
			line-height: 19px;
		}
		.except{
			color:$font-color-link;
			@media screen and (min-width: $break-small){
				padding-bottom: 25px;
			}
			@media screen and (min-width: $break-tablet){
				padding-bottom: 12px;
			}
			@media screen and (min-width: $break-large){
				padding-bottom: 25px;
			}
		}
		&__percent{
			color: #141F35;
			font-weight: bold;
			font-family: $font-title;
			padding-bottom: 5px;
			@media screen and (min-width: $break-small){
				font-size: 54px;
				line-height: 50px;
			}
			@media screen and (min-width: $break-tablet){
				font-size: 42px;
				line-height: 45px;
			}
			@media screen and (min-width: $break-large){
				font-size: 54px;
				line-height: 50px;
			}
		}
	}
	.total-rating{
		.group-progress{
			.progress{
				height: 10px;
				border-radius: 0px;
			}
			.progress-bar {
				background-color: $font-color-link;
			}
			.progress-text{
				color:$font-color-link;
				font-size: 14px;
				line-height: 19px;
				padding-top: 3px;
				text-transform: uppercase;
			}
		}
	}
	.list-review__item{
		padding:20px 0px 20px 0px;
		border-bottom: 1px solid #D6D6D6;
	}
	.travel-type{
		.title-head__review{
			padding-bottom: 10px;
		}
		.list-group{
			background: transparent;
			.list-group-item {
				position: static; 
				display: block;
				padding:0px 0px 30px 0px; 
				margin-bottom: 0px; 
				background: transparent; 
				border: 0px; 
				color: $font-color-link;
				font-size: 16px;
				line-height: 19px;
				span{
					color: $font-color-title;
					font-size: 14px;
				}
			}
		}
	}
	.summary-review{
		p{margin-bottom: 15px;}
		.score{
			color: #141F35;
			font-size: 30px;
			line-height: 18px;
			font-weight: bold;
			font-family: $font-title;
			padding-top: 25px;
			strong{
				padding-right: 10px;
			}
			span{
				color:$font-color-link;
				font-size: 16px;
				line-height: 19px;
				font-family: $font-text-light;
				padding: -15px 0px 0px 00px;
			}
		}
		.summary-item{
			img{
				float: left;
				width: 35px;
				padding-right: 12px;
			}
			span{
				float: left;
				font-size: 14px;
				line-height: 16px;
				padding-top: 5px;
				small{
					font-size: 14px;
					line-height: 16px;
					color: $font-color-link;
				}
			}
		}
	}
	.content-review{
		color: $font-color-title;
		.title-review{
			font-weight: 500;
			font-family: $font-title;
			@media screen and (min-width: $break-small){
				font-size: 32px;
				line-height: 47px;
			}
			@media screen and (min-width: $break-tablet){
				font-size: 24px;
				line-height: 47px;
				padding-top: 12px;
			}
			@media screen and (min-width: $break-large){
				font-size: 32px;
				line-height: 47px;
				padding-top: 0px;
			}
			
		}
		p{
			font-size: 14px;
			line-height: 24px;
		}
	}
}
.title-paragraph{
	font-family: $font-title;
	
	font-weight: 500;
	text-transform: uppercase;	
	color: $font-color-title;
	small{
		float: right;
	}
	.btn-write{
		border:1px solid $font-color-brown;
		color:$font-color-brown;
		border-radius: 0px;
		font-size: 14px;
		line-height: 19px;
		
		text-transform: uppercase;
		@media screen and (min-width: $break-small){
			padding: 5px 10px;
		}
		@media screen and (min-width: $break-large){
			padding: 10px 24px;
		}
	}
	@media screen and (min-width: $break-small){
		font-size: 28px;
		line-height: 32px;
	}
	@media screen and (min-width: $break-tablet){
		font-size: 32px;
		line-height: 60px;
	}
	@media screen and (min-width: $break-large){
		font-size: 36px;
		line-height: 71px;
	}
}
/******** End detail page **********/
/******** Book page **********/
.book-page{
	background: #f2f2f2;
	.breadcrumb{
		background: transparent;
		padding-top: 20px;
	}
	.info-book{
		padding-bottom: 40px;
		margin-top: 25px;
		&__information{
			background: #fff;
			border:1px solid #dbdbdb;
			@media screen and (min-width: $break-small){
				padding: 30px 10px 0px 10px;
			}
			@media screen and (min-width: $break-tablet){
				padding: 30px 30px 0px 30px;
			}
			@media screen and (min-width: $break-large){
				padding: 50px 30px;
			}
			.border-lable-flt {
				display: block;
				position: relative;
				width: 100%;
				label{
					position: absolute;
					left: 0;
					top: 0%;
					cursor: text;
					opacity: 1;
					-webkit-transition: all .2s;
					transition: all .2s;
					top: -.8em;
					left: 0rem;
					z-index: 3;
					line-height: 1;
					padding: 0 1px;
					color:$font-color-link;
					font-size: 14px;
					&::after{
						content: " ";
						display: block;
						position: absolute;
						background: white;
						height: 2px;
						top: 50%;
						left: -.2em;
						right: -.2em;
						z-index: -1;
					}
				}
				input.form-control::-webkit-input-placeholder{
					opacity: 1;
					-webkit-transition: all .2s;
					transition: all .2s;
				}
				input.form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  					opacity: 0;
				}
				input.form-control:placeholder-shown:not(:focus) + * {
					font-size: 100%;
					opacity: .5;
					top: 1em;
				}
			}
			.input-group {
				.border-lable-flt {
					display: table-cell;
					.form-control {
						border:0px;
						border-bottom:1px solid rgba(132, 132, 132, 0.3);
						height: 35px;
						width: 100%;
						font-size: 14px;
						line-height: 16px;
						padding: 0rem 0rem;
					}
					&:not(:last-child), .input-group .border-lable-flt:not(:last-child) .form-control {
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
						border-right: 0;
					}
					&:not(:first-child), .input-group .border-lable-flt:not(:first-child) .form-control {
						border-bottom-left-radius: 0;
						border-top-left-radius: 0;
					}
				}
			}
			input.form-control:focus {
			    color: #141F35;
			    background-color: #fff;
			    box-shadow: 0 0 0 0rem transparent;
				border-bottom:2px solid $font-color-link !important;
				padding: 0rem;
			}
			select.form-control{
				width: 100%;
			}

			.form-control{
				border-radius:0px;
				font-size: 14px;
				line-height: 18px;
			}
			textarea.form-control:focus{
				box-shadow: 0 0 0 0rem transparent;
			}
			.select2-container--bootstrap4 .select2-selection {
			    border: 0px;
			    border-bottom: 1px solid #dbdbdb; 
			    border-radius: 0rem; 
			    width: 100%;
			}
			.select2-container--bootstrap4.select2-container--focus .select2-selection {
			     border-color: #dbdbdb; 
			     -webkit-box-shadow: 0 0 0 0rem transparent; 
			     box-shadow: 0 0 0 0rem transparent; 
			}
			.form-group{
				margin-bottom: 2rem;
				label{
					font-size: 14px;
					color: $font-color-link;
				}
			}
		}
		&__let-us{
			border:1px solid #dbdbdb;
			background: #fff;
			min-height: 300px;
			@media screen and (min-width: $break-small){
				padding: 25px 10px;
				margin-top: 18px;
			}
			@media screen and (min-width: $break-tablet){
				padding: 25px 30px;
			}
			@media screen and (min-width: $break-tablet){
				padding: 25px 30px;
				margin-top: 22px;
			}
			&__car{
				ul{
					margin:20px 0px 0px -40px;
					li{
						list-style-type: none;
					}
				}
				.car-list {
					width: 20px;
					height: 20px;
					position: relative;
					background: #fff;
					border: 1px solid #dbdbdb;
					label {
						width: 12px;
						height: 12px;
						position: absolute;
						top: 4px;
						left: 4px;
						cursor: pointer;
						outline: 1px solid #dbdbdb;
						outline-offset: 3px;
						&:after {
							content: '';
							width: 13px;
							height: 13px;
							position: absolute;
							top: -1px;
							left: -1px;
							background: #C8A472;
							opacity: 0;
							outline: 1px solid #C8A472;
							outline-offset: 3px;
						}
						&:hover::after {
						  opacity: 0.3;
						}
				  	}
				  	input[type=checkbox] {
				    	visibility: hidden;
				    	&:checked + label:after {
				      		opacity: 1;
				    	}   
				  	} 
				}
				p{
					font-size: 14px;
					line-height: 18px;
					color: $bg-color-footer;
					span{
						color: $font-color-link;
					}
					@media screen and (min-width: $break-small){
						padding-top: 0px;
						width: 85%;
					}
					@media screen and (min-width: $break-tablet){
						padding-top: 3px;
						width: 90%;
					}
					@media screen and (min-width: $break-large){
						padding-top: 5px;
					}
				}
			}
			&__need{
				padding-top: 10px;
				p{
					margin-bottom: 0px;
					font-size: 14px;
					line-height: 18px;
					color:$bg-color-footer;
					padding-top: 10px;
					span{
						color: $font-color-link;
					}
				}
				.form-control{
					width: 30%;
					border:0px;
					border-bottom: 1px solid #dbdbdb;
					font-size: 14px;
					line-height: 16px;
				}
				.select2-container--bootstrap4 .select2-selection {
					border: 10px; 
					border-bottom: 1px solid #dbdbdb;
					border-radius: 0rem;
					width: 100%;
				}
				.select2-container .select2-selection--single {
					height: 35px !important;
				}
				.select2-container--bootstrap4.select2-container--focus .select2-selection {
					border-color: #dbdbdb;
					-webkit-box-shadow: 0 0 0 0rem transparent;
					box-shadow: 0 0 0 0rem transparent;
				}
			}
		}
		&__cruise{
			background: #fff;
			border: 1px solid #DBDBDB;
			@media screen and (min-width: $break-small){
				padding: 20px 10px 0px 10px;
			}
			@media screen and (min-width: $break-tablet){
				padding: 20px 30px 0px 30px;
			}
			@media screen and (min-width: $break-large){
				padding: 28px 30px 10px 30px;
			}
			&-title{
				h1{
					font-family: $font-title;
					color: $font-color-title;
					font-weight: 500;
					@media screen and (min-width: $break-small){
						font-size: 22px;
						line-height: 25px;
					}
					@media screen and (min-width: $break-tablet){
						font-size: 28px;
						line-height: 35px;
					}
					@media screen and (min-width: $break-large){
						line-height: 40px;
					}
				}
				small{
					color: #FFD014;
					font-weight: normal;
					@media screen and (min-width: $break-small){
						font-size: 16px;
						padding: 0px 0px 0px 15px;
					}
					@media screen and (min-width: $break-tablet){
						font-size: 20px;
						padding: 6px 0px 0px 15px;
					}
					i{
						padding-right: 3px;
					}
				}
			}
			&-itineraries{
				text-transform: uppercase;
				line-height: 19px;
				color:$font-color-link;
				@media screen and (min-width: $break-small){
					font-size: 13px;
				}
				@media screen and (min-width: $break-tablet){
					font-size: 16px;
				}
			}
			&-image{
				width: 100%;
				overflow: hidden;
				@media screen and (min-width: $break-small){
					height: auto;
				}
				@media screen and (min-width: $break-tablet){
					height: 280px;
				}
				@media screen and (min-width: $break-medium){
					height: 250px;
				}
				@media screen and (min-width: $break-large){
					height: 280px;
				}
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&-content{
				padding: 30px 0px 0px 0px;
				h4{
					color: #848484;
					font-size: 13px;
					line-height: 18px;
					text-transform: uppercase;
					margin-bottom: 5px;
				}
				p>strong{
					color: $font-color-title;
					font-size: 15px;
					line-height: 16px;
				}
				.free{
					padding-bottom: 10px;
					p{
						color: #F85B59;
						font-size: 14px;
						line-height: 24px; 
						margin-bottom: 0;
					}
				}
			}
			&-services{
				border-top: 1px solid rgba(132, 132, 132, 0.3);				
				padding: 20px 0%;
				h5{
					font-size: 13px;
					color: #848484;
					line-height: 15px;
					padding-top: 8px;
				}
				p{
					margin-bottom: 0;
					font-size: 14px;
					line-height: 22px;
					s{
						color: #848484;
					}
					span{
						color: $font-color-link;

					}
				}
			}
			&-total-price{
				border-top: 1px solid rgba(132, 132, 132, 0.3);
				padding: 20px 0px 0px 0px;
				h5{
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 5px;
					color: $bg-color-footer;
					text-transform: uppercase;
					font-weight: bold;
				}
				p{
					color: #848484;
					font-size: 14px;
					line-height: 18px;
				}
				strong{
					font-family: $font-title;
					font-weight: 500;
					line-height: 40px;
					color: $font-color-link;
					@media screen and (min-width: $break-small){
						font-size: 28px;
					}
					@media screen and (min-width: $break-tablet){
						font-size: 32px;
					}
				}
			}
		}
		&__heading{
			line-height: 27px;
			font-family: $font-title;
			color:$font-color-title;
			margin-bottom: 5px;
			@media screen and (min-width: $break-small){
				font-size: 20px;
			}
			@media screen and (min-width: $break-tablet){
				font-size: 24px;
			}
		}
	}
	.term{
		background: #fff;
		color: $font-color-title;
		padding: 30px 0px 20px 0px;
		&::-webkit-scrollbar {
		    width: 6px;
		    background-color: #f1f1f1;
		} 
		&::-webkit-scrollbar-thumb {
		    background-color: #f5f5f5;
		    border-radius: 5px;
		}
		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px #f2f2f2;
		    background-color: #f1f1f1;
		}
		@media screen and (min-width: $break-small){
			max-height: 320px;
			overflow-y: scroll;
		}
		@media screen and (min-width: $break-medium){
			max-height: 350px;
		}
		h2{
			font-family: $font-title;
			font-size: 24px;
			line-height: 37px;
			font-weight: 500;
		}
		p{
			font-size: 14px;
			line-height: 24px;
			text-align: justify;
		}
	}
	.next-step{
		padding: 20px 0px 100px 0px;
		p{
			color:#848484;
			font-size: 14px;
			line-height: 18px;
		}
		.btn-next{
			background: $font-color-brown;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 19px;
			border-radius: 0px;
			padding: 18px 40px;
			border:2px solid $font-color-brown;
			transition: all .3s ;
			&:hover{
				background: #fff;
				color: $font-color-brown;
			}
		}
	}
}
// custom scrollbar select2
.select2-results__options::-webkit-scrollbar {
    width: 6px;
    background-color: #f2f2f2;
} 
.select2-results__options::-webkit-scrollbar-thumb {
    background-color: $font-color-brown;
    border-radius: 5px;
}
.select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f2f2f2;
}
.stepwizard-step {
	p {
	    margin-top: 10px;
	    font-size: 14px;
	    line-height: 19px;
	    color:$font-color-title;
	    font-weight: 600;
	}
	.button-step{
		background: $bg-color-footer;
		border:2px solid $bg-color-footer;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		font-size: 18px;
		color: #fff;
		font-weight: 600;
		&:hover{
			color:$font-color-brown;
			border:2px solid $font-color-brown;
			background: #fff;
		}
	}
	.button-active{
		color:$font-color-brown;
		border:2px solid $font-color-brown;
		background: #fff;
	}
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 22px;
    bottom: 0;
    left: 0%;
    right: 0%;
    position: absolute;
    content: " ";
    width: 65%;
    height: 2px;
    background-color: #ccc;
    margin: 0px auto;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
/******** End book page **********/
