
table.dataTable thead th, table.dataTable thead td {
    vertical-align: middle;
    text-align: center;
}

table.dataTable tbody th, table.dataTable tbody td {
    vertical-align: middle;
}

.swal2-show {
    font-size: 85% !important;
}

select {
    font-size: 14px !important;
}

.picker .picker__holder {
    width: 300px !important;
    bottom: 0;
}

.picker.picker--time .picker__holder {
    width: 150px !important;
}
/*@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap&subset=vietnamese');
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=vietnamese");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=vietnamese");
*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=vietnamese");
body {
    font-family: "Nunito Sans", sans-serif;
}

#navbarSupportedContent {
    background: white !important;
    margin-left: 0 !important;
    max-height: 64px;
}

.navbar-header {
    background: #5bc0de !important;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 230px !important;
    }
}

.navbar.top-navbar {
    border-bottom: 1px solid #ddd !important;
    box-shadow: 3px 1px 3px 0px rgba(0,0,0,0.1) !important;
}
.navbar.top-navbar span {
    /*font-size: 18px !important;*/
    color: rgb(62, 85, 105);
}

.fixed-top {
    top: -1px !important;
}

li.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

/**/

.form-control-lg {
    font-size: 14px;
}
.custom-control.custom-checkbox label, .form-check label {
    font-weight: 400;
}

.pull-left{float:left!important;}
.pull-right{float:right!important;}

@media (min-width: 768px) {
    #the_table_filter input[type=search] {
        width: 120% !important;
    }
}

table a.btn {
    width: 60px;
    height: 34px;
    margin: 5px;
    font-size: 14px;
}
table span.btn {
    cursor: default !important;
}

.text-status {
    padding: 5px;
}

/*
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}*/

.select2-container {
    width: 100% !important;
}

.select2-selection__rendered {
    line-height: 41px !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
    border-color: #e9ecef;
}
.select2-selection__arrow {
    height: 44px !important;
}

.select2-selection.select2-selection--multiple {
    height: 45px !important;
    border-color: #e9ecef;
}
.select2-selection--multiple .select2-selection__rendered {
    height: 41px !important;
    line-height: 32px !important;
}
.select2-selection__choice {
    background-color: #2962FF !important;
    border: none !important;
}
.select2-selection__choice__remove {
    color: white !important;
}

.has-error {
    border-color: #f62d51 !important;
}